// Grid settings
@main-sm-columns:      @grid-columns;
@sidebar-sm-columns:   4;
          
// Colors
@brand-primary:      #333;
@brand-secondary:    #666;
@grey:               #ccc;  
@neutral-secondary:  #fafafa;
@neutral:            #fff; 
@accent:             #4078c0;

//Fonts
@sans-serif:"franklin-gothic-urw", sans-serif;
@serif:"adriane",serif;

@grid-columns:              24;

// Reuseables
.tdn {text-decoration:none}
.mT48 {margin-top:48px;}
.mT2 { margin-top:2.0em;}
.center {text-align:center;}

// Mix-in to make ems & rems consistent in size
.font-size(@sizeValue) {
  @remValue:@sizeValue;
  @pxValue:(@sizeValue * 10);
  font-size:~"@{pxValue}px"; 
  font-size:~"@{remValue}rem";
  line-height:@sizeValue * 14.5 * 1px;
  margin-top:@sizeValue * 3 * 1px;
  margin-bottom:1.55556rem;
  font-weight:300;
}

.heading-font-size(@sizeValue) {
  @remValue:@sizeValue;
  @pxValue:(@sizeValue * 10);
  font-size:~"@{pxValue}px"; 
  font-size:~"@{remValue}rem";
  line-height:@sizeValue * 11 * 1px;
  margin-top:@sizeValue * 15 * 1px;
  margin-bottom:@sizeValue * 4 * 1px;
  font-weight:400;
}

