<section>
  <div class="card text--center p-2">
      <h5 class="text--md mb-1">Need a website, app or have an idea?</h5>
      <a href="/resume.pdf" target="_blank" class="mb-1 button">View my resume</a>
      <a href="/contact" class="mb-1 button button--o">Contact me</a>
  </div>
</section>
