<footer>
  <div class="wrapper-lg">
  	<div class="grid grid--gutters">
      <div class="grid--item">
        <h6 class="text--sm text--bold">Gary Bunofsky</h6>
        <span class="text--xs">A software developer based in Cleveland, Ohio.</span>
      </div>
      <div class="grid--item">
        <h6 class="text--sm text--bold">Miscellaneous</h6>
        <ul class="text--xs">
          <li>
            <a href="/about" class="text--gray--500">About</a>
          </li>
          <li>
            <a href="/contact/" class="text--gray--500">Contact</a>
          </li>
      	<li>
          <a href="/resume.pdf" class="text--gray--500" target="_blank">Resume</a>
        </li>
        <li>
          <a href="/privacy-policy/" class="text--gray--500">Privacy Policy</a>
        </li>
        </ul>
      </div>
      <div class="grid--item">
        <h6 class="text--sm text--bold">Contact</h6>
        <ul class="text--xs">
          <li>
            <a href="mailto:hello@garybunofsky.com" class="text--gray--500">hello@garybunofsky.com</a>
          </li>
          <li>
            <a href="https://twitter.com/garybunofsky" class="text--gray--500" target="_blank" rel="noopener">@garybunofsky</a>
          </li>
          <li>
            <a href="tel:3305061300" class="text--gray--500">(330) 506-1300</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <span class="copyright">&copy; 2018 Gary Bunofsky, LLC. All Rights Reserved.</span>
</footer>
