<div class="wrapper-md">
  <footer>
    <div class="gradient-border"></div>
    <ul class="grid text--code mt-1 grid--space-between text--xs">
    <li>
      <a href="mailto:gary@garybunofsky.com" class="text--gray--500 caret">Email</a>
    </li>
    <li>
      <a href="/resume.pdf" class="text--gray--500 caret">Resume</a>
    </li>
    <li>
      <a href="/privacy-policy/" class="text--gray--500 caret">Privacy Policy</a>
    </li>
    <li>
      <a href="/contact/" class="text--gray--500">Questions?</a>
    </li>
    </ul>
  </footer>
</div>
