<form action="/quote/send" method="post">
  <div class="mb-1">
    <label class="text--sm " for="name">Full Name</label>
    <input class="form-field" type="text" name="name" value="" placeholder="Your name" required autofocus>
  </div>
  <div class="mb-1">
    <label class="text--sm " for="email">Email</label>
    <input class="form-field" type="email" name="email" value="" placeholder="Your email" required>
  </div>
  <div class="mb-1">
    <label class="text--sm " for="type">Type of project</label>
    <select class="form-field" name="type">
      <option value="">What type of project?</option>
      <option value="application">Application</option>
      <option value="website">Website</option>
      <option value="I'm not sure">I'm not sure</option>
    </select>
  </div>
  <div class="mb-1">
    <label class="text--sm " for="description">Describe your project</label>
    <textarea class="form-field" name="description" placeholder="Tell me a little about your project"></textarea>
  </div>
  <button type="submit" name="button" class="button">Get a Quote</button>
</form>
