<head>
  <title>Gary Bunofsky | Developer & Designer</title>
  <link rel="stylesheet" href="../styles.css">
  <script src="../script.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83866226-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-83866226-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name=description content="I am a developer and designer living in Cleveland, Ohio. I make sites and applications on the internet.">
  <meta itemprop=name content="Gary Bunofsky | Developer & Designer">
  <meta itemprop=description content="I am a developer and designer living in Cleveland, Ohio. I make sites and applications on the internet.">
  <meta itemprop=image content="https://garybunofsky.com/images/meta.png">
  <meta property=og:url content=https://garybunofsky.com>
  <meta property=og:type content=website>
  <meta property=og:title content="Gary Bunofsky | Developer & Designer">
  <meta property=og:description content="I am a developer and designer living in Cleveland, Ohio. I make sites and applications on the internet.">
  <meta property=og:image content="https://garybunofsky.com/images/meta.png">
  <!-- twitter  -->
  <meta name=twitter:card content=summary_large_image>
  <meta name=twitter:title content="Gary Bunofsky | Developer & Designer">
  <meta name=twitter:description content="I am a developer and designer living in Cleveland, Ohio. I make sites and applications on the internet.">
  <meta name=twitter:image content="https://garybunofsky.com/images/og-image.png">
  <!-- favicon -->
  <link id="favicon" rel="icon" type="image/png" sizes="92x92" href="/images/favicon.png">
</head>
