<div class="text--center hero">
  <div class="hero--overlay"></div>
  <section class="mb-4 wrapper-md">
    <h1 class="text--xl text--bold"><%= head %></h1>
    <h2 class="text--md"><%= sub %></h2>
  </section>
</div>
