<div class="content wrapper-md">
  <section class="mb-4">
    <h1 class="text--xl">Hi, I'm Gary.</h1>
    <h2 class="text--md text--gray--600">I’m designer and developer based in Cleveland, Ohio. I build sites, apps, and products on the web.</h2>
  </section>
</div>
