<div class="content wrapper-md">
  <section class="mb-4 text--center">
    <h1 class="text--xl">Hello, I'm Gary.</h1>
    <h2 class="text--lg text--gray--500">I develop websites and applications.</h2>
  </section>
</div>
