<button id="menu" class="button menu">
  Menu
</button>
<nav id="nav" class="hide">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/portfolio">Portfolio</a>
  <a href="/contact/">Contact</a>
</nav>
