<div class="content wrapper-md">
  <section>
    <div class="card mb-1">
      <div class="card--image">
        <img src="https://images.unsplash.com/photo-1508830524289-0adcbe822b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=377e356cce015c363d123504857f8137&auto=format&fit=crop&w=2022&q=80" alt="">
      </div>
      <div class="card--content">
        <h4 class="text--md text--bold">Insights</h4>
        <span class="text--xs text--code">Vue, Node, Psql</span>
        <p class="text--sm">Insights, is an app that analyzes Amazon product results. I was the designer and lead developer on the project.</p>
        <a target="_blank" rel="noopener" href="http://garybunofsky.com/portfolio/insights" class="button" rel="noopener">View project</a>
      </div>
    </div>
    <div class="card mb-1">
      <div class="card--image">
        <img src="https://images.unsplash.com/photo-1511978360799-4149696253a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e13e3365ee2ce28decd1962f271314d2&auto=format&fit=crop&w=1050&q=80" alt="">
      </div>
      <div class="card--content">
        <h4 class="text--md text--bold">Veronica</h4>
        <span class="text--xs text--code">Ruby</span>
        <p class="text--sm">An SMS bot that can text you the news. Just text CNN or Bloomberg to (321)-233-9118.</p>
        <a href="https://github.com/garybunofsky/veronica" target="_blank" rel="noopener" class="button" target="_blank" rel="noopener">View project</a>
      </div>
    </div>
    <div class="card mb-1">
      <div class="card--image">
        <img src="https://images.unsplash.com/photo-1477013743164-ffc3a5e556da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4f1da47f1719d705e90d8624cd45a6e0&auto=format&fit=crop&w=1650&q=80" alt="">
      </div>
      <div class="card--content">
        <h4 class="text--md text--bold">Pass.js Library</h4>
        <span class="text--xs text--code">JavaScript</span>
        <p class="text--sm">Very simple parameter passing. Easily track query strings through form fields - great for PPC campaigns.</p>
        <a href="http://garybunofsky.github.io/pass.js/" target="_blank" rel="noopener" class="button" target="_blank" rel="noopener">View project</a>
      </div>
    </div>
    <div class="card mb-1">
      <div class="card--image">
        <img src="https://images.unsplash.com/photo-1524591431555-cc7876d14adf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f16cff8aab12fca7983772cc1e5272b&auto=format&fit=crop&w=1039&q=80" alt="">
      </div>
      <div class="card--content">
        <h4 class="text--md text--bold">Blouse Icons</h4>
        <span class="text--xs text--code">HTML</span>
        <p class="text--sm">An open-sourced collection of simple, subtle icons. To install just run npm install blouse.</p>
        <a target="_blank" rel="noopener" href="http://blouse.garybunofsky.com/" class="button" target="_blank" rel="noopener">View project</a>
      </div>
    </div>
  </section>
</div>
