<div class="project-list content wrapper-md">
  <section class="mb-8">
    <a href="/portfolio/insights">
      <div class="browser mb-2">
        <img src="../images/insights.png" alt="">
      </div>
      <h3 class="text--md text-gray--500">Developed an app for Marketplace Strategy.</h3>
      <p class="text--sm">I led product design and development for the Insights application while maintaining simplicity as the product grew.</p>
      <div class="grid grid--space-between grid--column-reverse">
        <button class="button">Read More</button>
        <div class="mb-1">
          <code class="text--code text--xs">Vue</code> <code class="text--code text--xs">Node</code> <code class="text--code text--xs">PostgreSql</code>
        </div>
      </div>
    </a>
  </section>
  <section class="mb-8">
    <a href="/portfolio/blouse">
      <div class="browser mb-2">
        <img src="../images/blouse.png" alt="">
      </div>
      <h3 class="text--md text-gray--500">Designed an icon pack called Blouse.</h3>
      <p class="text--sm">Blouse is small set of open source icons.</p>
      <div class="grid grid--space-between grid--column-reverse">
        <button class="button">Read More</button>
        <div class="mb-1">
          <code class="text--code text--xs">Sketch</code> <code class="text--code text--xs">Design</code>
        </div>
      </div>
    </a>
  </section>
  <section class="mb-8">
    <a href="/portfolio/pass">
      <div class="browser mb-2">
        <img src="../images/pass-js.png" alt="">
      </div>
      <h3 class="text--md text-gray--500">Built Pass.js at Fathom.</h3>
      <p class="text--sm">Pass makes it super easy to track PPC campaigns.</p>
      <div class="grid grid--space-between grid--column-reverse">
        <button class="button">Read More</button>
        <div class="mb-1">
          <code class="text--code text--xs">Javascript</code>
        </div>
      </div>
    </a>
  </section>
</div>
