<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('components/head.ejs') %>
  <body>
    <%- include('components/nav.ejs') %>
    <%- include('components/hero.ejs', {head: 'Ugh Oh, 404', sub: 'The page can\'t be found' }) %>
    <main class="content wrapper-md">
      <section>
        <p class="text--sm">The page has either been deleted, is no longer available or I haven't cared enough to fix it. Feel free to <a href="mailto:gary@garybunofsky.com">let me know</a> or just <a href="/">return to the home page</a>.</p>
      </section>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
