<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('components/head.ejs') %>
  <body>
    <%- include('components/nav.ejs') %>
    <%- include('components/hero.ejs', {head: 'Books I\'ve Read', sub: 'A of books I\'ve read and recommend.' }) %>
    <main class="content wrapper-md">
      <section>
    		<ul class="text--sm">
          <li>
            <cite>1984</cite> by George Orwell
          </li>
          <li>
            <cite>A Tale of Two Cities</cite> by Charles Dickens
          </li>
          <li>
            <cite>Animal Farm</cite> by George Orwell
          </li>
          <li>
            <cite>As a Man Thinketh</cite> by James Allen
          </li>
          <li>
            <cite>Bird by Bird: Some Instructions on Writing and Life</cite> by  Anne Lamott
          </li>
          <li>
            <cite>Candide</cite> by Voltaire
          </li>
          <li>
            <cite>Cat's Cradle: A Novel</cite> by Kurt Vonnegut
          </li>
          <li>
            <cite>Don't Make Me Think</cite> by Steve Krug
          </li>
          <li>
            <cite>Essentialism: The Disciplined Pursuit of Less</cite> by Greg McKeown
          </li>
          <li>
            <cite>Galápagos</cite> by Kurt Vonnegut
          </li>
          <li>
            <cite>Getting to Yes</cite> by William Ury
          </li>
          
          <li>
            <cite>HTML and CSS: Design and Build Websites</cite> by Jon Duckett
          </li>
          <li>
            <cite>How to Talk to Anyone</cite> by Leil Lowndes
          </li>
          <li>
            <cite>How to Win Friends &amp; Influence People</cite> by Dale Carnegie
          </li>
          <li>
            <cite>It Doesn't Have to Be Crazy at Work</cite> by Jason Fried and David Heinemeier Hansson
          </li>
          <li>
            <cite>Never Eat Alone</cite> by Keith Ferrazzi
          </li>
          <li>
            <cite>Rework</cite> by Jason Fried &amp; David Heinemeier Hansson
          </li>
          <li>
            <cite>Rich Dad Poor Dad</cite> by Robert T. Kiyosaki
          </li>
          <li>
            <cite>The Millionaire Next Door</cite> by Thomas J. Stanley
          </li>
          <li>
            <cite>The Mythical Man-Month</cite> by Frederick P. Brooks Jr.
          </li>
          <li>
            <cite>The Sirens of Titan</cite> by Kurt Vonnegut
          </li>
          <li>
            <cite>The Systems Bible</cite> by John Gall
          </li>
          <li>
            The Way to Will-Power Henry Hazlitt
          </li>
          <li>
            <cite>The Total Money Makeover</cite> by Dave Ramsey
          </li>
          <li>
            <cite>Walden or Life in the Woods</cite> by Henry David Thoreau
          </li>
          <li>
            <cite>What's the Big Deal About Bitcoin?</cite> by Steve Patterson
          </li>
          <li>
            <cite>You Don't Know JS: Up &amp; Going</cite> by Kyle Simpson
          </li>
    		</ul>
      </section>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
