<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('components/head.ejs') %>
  <body>
    <%- include('components/nav.ejs') %>
    <%- include('components/hero.ejs', {head: 'Books I've Read', sub: 'A of books I've read and recommend.' }) %>
    <main class="content wrapper-md">
      <section>
    		<ul class="text--sm">
          <li>
            1984, George Orwell
          </li>
          <li>
            A Tale of Two Cities, Charles Dickens
          </li>
          <li>
            Animal Farm, George Orwell
          </li>
          <li>
            As a Man Thinketh, James Allen
          </li>
          <li>
            Bird by Bird: Some Instructions on Writing and Life,  Anne Lamott
          </li>
          <li>
            Candide, Voltaire
          </li>
          <li>
            Cat's Cradle: A Novel, Kurt Vonnegut
          </li>
          <li>
            Don't Make Me Think, Steve Krug
          </li>
          <li>
            Essentialism: The Disciplined Pursuit of Less, Greg McKeown
          </li>
          <li>
            Galápagos, Kurt Vonnegut
          </li>
          <li>
            HTML and CSS: Design and Build Websites, Jon Duckett
          </li>
          <li>
            How to Talk to Anyone, Leil Lowndes
          </li>
          <li>
            How to Win Friends &amp; Influence People, Dale Carnegie
          </li>
          <li>
            Never Eat Alone, Keith Ferrazzi
          </li>
          <li>
            Rework, Jason Fried &amp; David Heinemeier Hansson
          </li>
          <li>
            Rich Dad Poor Dad, Robert T. Kiyosaki
          </li>
          <li>
            The Millionaire Next Door, Thomas J. Stanley
          </li>
          <li>
            The Mythical Man-Month, Frederick P. Brooks Jr.
          </li>
          <li>
            The Sirens of Titan, Kurt Vonnegut
          </li>
          <li>
            The Systems Bible, John Gall
          </li>
          <li>
            The Total Money Makeover, Dave Ramsey
          </li>
          <li>
            Walden or Life in the Woods, Henry David Thoreau
          </li>
          <li>
            What's the Big Deal About Bitcoin?, Steve Patterson
          </li>
          <li>
            You Don't Know JS: Up &amp; Going, Kyle Simpson
          </li>
    		</ul>
      </section>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
