doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/reset.css')
    link(rel='stylesheet', href='/styles.css')
  body
    nav.nav
      ul
        li
          a(href="/") Home
        li
          a(href="/writing") Writing
        li
          a(href="/about") About
    header.text--xxl.text--bold
      block header
    .content-container
      block content
    footer
      nav.nav
        ul
          li
            a(href="/") Home
          li
            a(href="/writing") Writing
          li
            a(href="/about") About
      div
        
