<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('components/head.ejs') %>
  <body>
    <%- include('components/nav.ejs') %>
    <main>
      <div class="content wrapper-md">
        <section class="mb-4 text--center">
          <h1 class="text--xl">Portfolio</h1>
          <h2 class="text--md">Below you can find some projects I've made.</h2>
        </section>
      </div>
      <%- include('components/projects.ejs') %>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
