<!DOCTYPE html>
<html lang="en" dir="ltr" class="quote">
  <%- include('components/head.ejs') %>
  <body>
    <div class="card">
      <h1 class="text--lg text--center text--bold">Get a Free Quote</h1>
      <h2 class="text--sm mb-1 text--center">Complete the form below to receive your quote.</h2>
      <%- include('components/form.ejs') %>
    </div>
  </body>
</html>
