<!DOCTYPE html>
<html lang="en" dir="ltr" class="quote">
  <%- include('components/head.ejs') %>
  <body>
    <div class="card grid grid--center">
      <div class="grid--item text--center">
        <h1 class="text--lg text--bold">Sent Successfully</h1>
        <p class="text--sm">Your request was sent. I look forward to working with you.</p>
        <a href="/" class="button">Back to home page</a>
      </div>
    </div>
  </body>
</html>
