<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('components/head.ejs') %>
  <body>
    <%- include('components/nav.ejs') %>
    <%- include('components/hero.ejs', {head: 'Tools and Workflow', sub: 'My day-to-day workflow consists of the tools and applications listed below. While my setup is constantly evolving, I try to keep this page up-to-date.' }) %>
    <main class="content wrapper-md">
      <section>
    		<h4 class="text--md">Development</h4>
    		<ul class="text--sm">
        	<li>Atom with <a class="caret" target="_blank" rel="noopener" href="https://atom.io/themes/astro/">Astro theme</a></li>
    			<li>iTerm</li>
    			<li>PHP Storm</li>
        	<li>Sublime Text</li>
    		</ul>
      </section>
      <section>
  		<h4 class="text--md">Design</h4>
  		<ul class="text--sm">
  			<li>Adobe Creative Cloud</li>
  			<li>Invision</li>
    		<li><a class="caret" target="_blank" rel="noopener" href="https://www.sketchapp.com/">Sketch</a></li>
  			<li>Sakura pens and a notebook</li>
  		</ul>
      </section>
      <section>
        <h4 class="text--md">Dev Ops</h4>
    		<ul class="text--sm">
    			<li>DNSimple</li>
    			<li>Docker</li>
    			<li>Heroku</li>
    			<li>Postgresql</li>
    			<li>Postico</li>
    			<li>Sequel Pro</li>
    			<li>Vagrant</li>
    		</ul>
      </section>
      <section>
        <h3 class="text--md">Hardware</h3>
    		<ul class="text--sm">
      		<li>MacBook Pro 15"</li>
    			<li>Magic Mouse</li>
    			<li><a class="caret" target="_blank" rel="noopener" href="https://www.amazon.com/Mechanical-Keyboard-Keycaps-Cherry-Mx-Blue/dp/B00OFM51L2/">Poker 3 Keyboard</a></li>
          <li><a class="caret" target="_blank" rel="noopener" href="https://aiaiai.dk/configurator/">Aiaia TMA-2 (S01-H02-E02-C06)</a></li>
    		</ul>
      </section>
      <section>
    		<h3 class="text--md">Miscellaneous Apps</h3>
    		<ul class="text--sm">
    			<li>1Password</li>
    			<li>aText</li>
    			<li>Calendly</li>
    			<li>Cloak</li>
    			<li>Evernote</li>
    			<li>Jira</li>
    			<li>Karabiner</li>
    			<li>Nylas Mail</li>
    			<li>Sip</li>
    			<li>Slack</li>
    			<li>Spotify</li>
    			<li>Spectacle</li>
    		</ul>
      </section>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
