extend layout
block header
  h1
    | ''
block content
  article.mb-14
    time.text--xs.mb-3 Aug 23, 2019
    h3.text--lg.text--bold
      a(href="/") Croissants and Other Viennoiserie
  article.mb-14
    time.text--xs.mb-3 Aug 23, 2019
    h3.text--lg.text--bold
      a(href="/") Homemade Whipped Cream
