@font-face {
  font-family: "Book";
  src: url("../../assets/fonts/Book.woff2") format("woff2"),
    url("../../assets/fonts/Book.woff") format("woff"),
    url("../../assets/fonts/Book.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: url("../../assets/fonts/Bold.woff2") format("woff2"),
    url("../../assets/fonts/Bold.woff") format("woff"),
    url("../../assets/fonts/Bold.ttf") format("truetype");
}
