.nav {
  max-width: $breakpoint;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0 2em 0;
  ul {
    display: inline-flex;
    margin: 0 0 0 -0.5em;
    li {
      margin: 0 0.125em;
      padding: 0.625em 0.375em;
      a {
        margin: 0 0.125em;
        padding: 0.625em 0.375em;
        font-family: "Book";
        border-bottom: 2px solid #fff;
        transition: border 400ms ease;
        &:hover {
          border-bottom: 2px solid $primary;
        }
      }
    }
  }
}
@media all and (min-width: $breakpoint) {
  .nav {
    text-align: left;
    padding: 4.25em 0 2em 0;
  }
}
