.text--bold {
  font-family: "Bold";
  font-weight: 800;
}
.text--xxl {
  font-size: 2.25em;
  padding: 0.5em;
}
.text--xl {
  font-size: 2em;
}
.text--lg {
  font-size: 1.75em;
}
.text--md {
  font-size: 1.5em;
}
.text--sm {
  font-size: 1.25em;
}
.text--xs {
  font-size: 1em;
}
time {
  font-family: "Book";
  display: block;
}
p {
  font-family: "Georgia";
  font-size: 1.15em;
  line-height: 1.5em;
}
a {
  color: #000;
  text-decoration: none;
  transition: 400ms ease;
  &:hover {
    color: $primary;
  }
}
