// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;
          
// Colors
@brand-primary:       #333;
@brand-secondary:     #777;
@accent:              #4183c4;
@neutral:             #fafafa; 
@neutral-secondary:   #d8d8d8;
@grey:                #ccc;  

// Reuseables
.tdn {text-decoration: none}
.mT48 {margin-top: 48px;}
.mT4 { margin-top: 4.0em;}
.center {text-align: center;}
.ease {  
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
// Mix-in to make ems & rems consistent in size
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";

  line-height: @sizeValue * 14.5 * 1px;
  margin-top: @sizeValue * 3 * 1px;
  margin-bottom: 1.55556rem;
}

.heading-font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";

  line-height: @sizeValue * 10 * 1px;
  margin-top: @sizeValue * 10 * 1px;
  margin-bottom: @sizeValue * 6 * 1px;
}

