// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Colors
@brand-primary:       #5d5d5d;
@brand-secondary: 		#2a80b9;
@neutral: 						#f5efe6;
@brand-primary-light: #cdcec9;                


// Reuseables
.tdn {text-decoration: none}
.mT48 {margin-top: 48px;}
.center {text-align: center;}
.ease {  
  -webkit-transition: all 0.01s ease-in-out;
  -moz-transition: all 0.01s ease-in-out;
  -o-transition: all 0.01s ease-in-out;
  transition: all 0.01s ease-in-out;
}
// Mix-in to make ems & rems consistent in size
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";

  line-height: @sizeValue * 14.5 * 1px;
  margin-top: @sizeValue * 4 * 1px;
}

