// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Colors
@brand-primary:       #555660;
@brand-secondary:     #777886;
@accent: 		          #6D61BF;
@neutral: 						#f5efe6; 
@neutral-secondary:   #c4bfb8;
@grey:                rgba(61,70,77,0.1);              


// Reuseables
.tdn {text-decoration: none}
.mT48 {margin-top: 48px;}
.mT4 { margin-top: 4.0em;}
.center {text-align: center;}
.ease {  
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
// Mix-in to make ems & rems consistent in size
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";

  line-height: @sizeValue * 14.5 * 1px;
  margin-top: @sizeValue * 3 * 1px;
  margin-bottom: 1.55556rem;
}

.heading-font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";

  line-height: @sizeValue * 10 * 1px;
  margin-top: @sizeValue * 10 * 1px;
  margin-bottom: @sizeValue * 6 * 1px;
}

