<% content_for :page_title, "Library" %>
<% content_for :page_description, "Below is a list of my books I recommend. Some are fiction, some are not, but they all have influenced my thought process." %>
<p>Below is a list of my books I recommend. Some are fiction, some are not, but they all have influenced my thought process.</p>
<ul>
  <li>
    <a href="http://amzn.to/1UnYAvK">Cat's Cradle: A Novel</a>, Kurt Vonnegut
  </li>
  <li>
    <a href="http://amzn.to/1SIwn2N">HTML and CSS: Design and Build Websites</a>, Jon Duckett
  </li>
	<li>
		<a href="http://amzn.to/1UnYhRI">How to Win Friends &amp; Influence People </a>, Dale Carnegie
	</li>
  <li>
    <a href="http://amzn.to/1UnYxQo">Rich Dad Poor Dad</a>, Robert T. Kiyosaki
  </li>
  <li>
    <a href="http://amzn.to/1LiImT2">The Millionaire Next Door</a>, Thomas J. Stanley
  </li>
  <li>
    <a href="http://amzn.to/1LiIqlT">The Mythical Man-Month</a>, Frederick P. Brooks Jr.
  </li>
	<li>
		<a href="http://amzn.to/1LiIrWV">The Sirens of Titan: A Novel</a>, Kurt Vonnegut
	</li>
  <li>
    <a href="http://amzn.to/1SIwsUf">The Systems Bible</a>, John Gall
  </li>
</ul>
