<% content_for :page_title, "Library" %>
<% content_for :page_description, "Below is a list of my books I recommend. Some are fiction, some are not, but they all have influenced my thought process." %>
<p>Below is a list of my books I recommend. Some are fiction, some are not, but they all have influenced my thought process.</p>
<ul>
  <li>
    Cat's Cradle: A Novel, Kurt Vonnegut
  </li>
  <li>
    HTML and CSS: Design and Build Websites, Jon Duckett
  </li>
  <li>
    How to Talk to Anyone, Leil Lowndes
  </li>
  <li>
    How to Win Friends &amp; Influence People, Dale Carnegie
  </li>
  <li>
    Rich Dad Poor Dad, Robert T. Kiyosaki
  </li>
  <li>
    The Millionaire Next Door, Thomas J. Stanley
  </li>
  <li>
    The Mythical Man-Month, Frederick P. Brooks Jr.
  </li>
  <li>
    The Sirens of Titan: A Novel, Kurt Vonnegut
  </li>
  <li>
    The Systems Bible, John Gall
  </li>
</ul>
