<% content_for :page_title, "Library" %>
<% content_for :page_description, "Here you can find some books that have influenced my thought process. Some are fiction. Some are not." %>
<p>Here you can find some books that have influenced my thought process. Some are fiction. Some are not.</p>
<ul>
  <li>
    Cat's Cradle, Kurt Vonnegut
  </li>
  <li>
    HTML and CSS: Design and Build Websites, Jon Duckett
  </li>
  <li>
    Rich Dad Poor Dad, Robert T. Kiyosaki
  </li>
  <li>
    The Millionaire Next Door, Thomas J. Stanley
  </li>
  <li>
    The Mythical Man-Month, Frederick P. Brooks Jr.
  </li>
  <li>
    The Systems Bible, John Gall
  </li>
</ul>
