<% content_for :page_title, "Library" %>
<% content_for :page_description, "Below is a list of my books I recommend. Some are fiction, some are not, but they all have influenced my thought process." %>
<p>Here's list of books I've read and recommend. Every title here has influenced my thought process. I'm currently reading Brave New World by Aldous Huxley.</p>
<ul>
  <li>
    1984, George Orwell
  </li>
  <li>
    A Tail of Two Cities, Charles Dickens
  </li>
  <li>
    Animal Farm, George Orwell
  </li>
  <li>
    As a Man Thinketh, James Allen
  </li>
  <li>
    Cat's Cradle: A Novel, Kurt Vonnegut
  </li>
  <li>
    Essentialism: The Disciplined Pursuit of Less by Greg McKeown
  </li>  
  <li>
    Galápagos, Kurt Vonnegut
  </li>
  <li>
    HTML and CSS: Design and Build Websites, Jon Duckett
  </li>
  <li>
    How to Talk to Anyone, Leil Lowndes
  </li>
  <li>
    How to Win Friends &amp; Influence People, Dale Carnegie
  </li>
  <li>
    Rework, Jason Fried &amp; David Heinemeier Hansson
  </li>
  <li>
    Rich Dad Poor Dad, Robert T. Kiyosaki
  </li>
  <li>
    The Millionaire Next Door, Thomas J. Stanley
  </li>
  <li>
    The Mythical Man-Month, Frederick P. Brooks Jr.
  </li>
  <li>
    The Sirens of Titan, Kurt Vonnegut
  </li>
  <li>
    The Systems Bible, John Gall
  </li>
  <li>
    The Total Money Makeover, Dave Ramsey
  </li>
  <li>
    What's the Big Deal About Bitcoin?, Steve Patterson
  </li>
</ul>
