<% content_for :page_title, "Library" %>
<% content_for :page_description, "Below is a list of my books I recommend. Some are fiction, some are not, but they all have influenced my thought process." %>
<p>Below is a list of my books I recommend. Some are fiction, some are not, but they all have influenced my thought process.</p>
<ul>
  <li>
    <a  href="http://www.amazon.com/gp/product/038533348X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=038533348X&linkCode=as2&tag=garybuno-20&linkId=RE4FFXEFVDSQGRIX">Cat's Cradle: A Novel</a>, Kurt Vonnegut
  </li>
  <li>
    <a href="http://www.amazon.com/gp/product/1118008189/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1118008189&linkCode=as2&tag=garybuno-20&linkId=EXM3UQQPIRPPFEH5">HTML and CSS: Design and Build Websites</a>, Jon Duckett
  </li>
  <li>
    <a href="http://www.amazon.com/gp/product/1612680011/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1612680011&linkCode=as2&tag=garybuno-20&linkId=TPR6ZOLNILXFIPMY">Rich Dad Poor Dad</a>, Robert T. Kiyosaki
  </li>
  <li>
    <a href="http://www.amazon.com/gp/product/1517063353/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1517063353&linkCode=as2&tag=garybuno-20&linkId=3Z2IGP47DX3KR2WL">The Millionaire Next Door</a>, Thomas J. Stanley
  </li>
  <li>
    <a href="http://www.amazon.com/gp/product/0201835959/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0201835959&linkCode=as2&tag=garybuno-20&linkId=UBDQNOP5NGJTAGTG">The Mythical Man-Month</a>, Frederick P. Brooks Jr.
  </li>
  <li>
    <a href="http://www.amazon.com/gp/product/0961825170/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0961825170&linkCode=as2&tag=garybuno-20&linkId=BXCFCI6CUXRHVDHW">The Systems Bible</a>, John Gall
  </li>
</ul>
