html {
  font-family: "Inter";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f7ea;
}
h1 {
  letter-spacing: -0.025px;
}
ul {
  margin-left: 0px;
}
ul li {
  margin-left: 15px;
}
a {
  color: #515f44;
}
a:active,
a:hover {
  outline-width: 0;
  opacity: 0.75;
}
.highlight {
  background-color: #fbf1ad;
  color: #546247;
  padding: 1px 4px;
  border-radius: 3px;
}
.container {
  margin: 0 auto;
  max-width: 580px;
}
code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
