html {
  font-family: "Inter";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f7ea;
}
a {
  color: #515f44;
}
a:active,
a:hover {
  outline-width: 0;
  opacity: 0.75;
}

h1 {
  letter-spacing: -0.025px;
}

.highlight {
  background-color: #fbf1ad;
  color: #546247;
  padding: 1px 4px;
  border-radius: 3px;
}
