html {
  font-family: "Inter";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f7ea;
  color: #515f44;
}
a {
  color: #515f44;
}
a:active,
a:hover {
  outline-width: 0;
  opacity: 0.75;
}

.highlight {
  background-color: #fff3a6;
  color: #515f44;
}
