<% content_for :page_title, "Portfolio" %>
<% content_for :page_description, "My most recent work outside of EmployStream is what you see in my portfolio. Websites, tools, simple applications; these are the things that I spend my free time working on." %>
<p>My most recent work outside of EmployStream is what you see in my portfolio. Websites, tools, simple applications; these are the things that I spend my free time working on.</p>

<section>
  <h2>Magenda</h2>
  <p><a href="http://magenda.co/" target="_blank">Magenda</a> is a light, browser-based to do list. A quick, simple way to log items. <a href="http://magenda.co/" target="_blank">Visit the website</a> or <a href="https://github.com/garybunofsky/magenda.co" target="_blank">view the source</a>.</p>

</section>
<section>
  <h2>Pass.js</h2>
  <p>I wrote <a href="http://garybunofsky.github.io/pass.js/?campaign=your-campaign&medium=your-medium&source=your-source/" target="_blank">Pass.js</a> to help analyze conversion funnels. Pass captures URL parameters such as utm_source through hidden form fields. It’s very small and easy to install. <a href="http://garybunofsky.github.io/pass.js/?campaign=your-campaign&medium=your-medium&source=your-source/" target="_blank">Visit the webite</a> or <a href="https://github.com/garybunofsky/pass.js/" target="_blank">view the source</a>.</p>
</section>

<section>
  <h2>West Side Market</h2>
  <p>Cleveland’s historic marketplace is home to some of the finest food in the area. If you’re like me you have trouble remembering when it is open. To help with this reoccurring inconvenience CJ and I built a site to reference. <a href="http://iswestsidemarketopen.com/" target="_blank">Visit the website</a>.</p>
</section>
