<% content_for :page_title, "Case Study: Veronica" %>
<% content_for :page_description, "Veronica is a chatbot that can text you the news." %>
<div class="col-md-12 col-lg-10 offset-lg-1 mt-12">
	<div class="row mb-5">
		<div class="col-sm-6">
			<h2><strong><%= yield :page_title %></strong></h2>
			<p>Veronica is a chatbot that can text you the news.</p>
		</div>
	</div>

	<div class="row mb-6">
		<div class="col-sm-6">
			<h5 class="mb-3">The Challenge</h3>
			<p>Create a chatbot that will text the latest news from various sources.</p>
		</div>
		<div class="col-sm-6">
			<h5 class="mb-3">The Outcome</h3>
			<p>A chatbot that will text headlines and articles. News sources vary based on the command sent to Veronica.</p>
		</div>
	</div>
	
	<div class="row mb-6 mx-auto">
		<div class="col-xs-12 col-sm-8 offset-sm-2 col-md-4 offset-md-4 text-center text-md-center">
			<h4 class="lg mb-4">Watch a short preview.</h4>
			<video loop autoplay controls="true" width="100%" src="https://s3.amazonaws.com/garybunofsky.com/veronica-app-preview.mp4" type="video/mp4"></video>
		</div>
	</div>
		
	<hr class="sm mb-8"/>
	
	<div class="row mb-6 ">
		<div class="col-sm-6">
			<h3 class="lg mb-5">Brainstorming and Prototyping</h3>
			<p>Drawing a control flow graph yielded the established series of actions. There were a total of two outcomes, either the API call succedded or failed. The content of the text message was determined by the outcome of the API call.</p>
		</div>
	</div>
	<div class="row mb-6">
		<div class="col-sm-12">
			<figure class="center mb-6">
				<img src="https://s3.amazonaws.com/garybunofsky.com/veronica-prototype.jpg" alt="veronica-prototype" />
			</figure>
		</div>
	</div>
	
	<hr class="sm mb-6" />
	
	<div class="row mb-7">
		<div class="col-xs-12 col-md-6">
			<figure class="center">
				<img src="https://s3.amazonaws.com/garybunofsky.com/veronica-iphone-1.png" alt="veronica-iphone-1" />
			</figure>
		</div>
		<div class="col-xs-12 col-md-6">
			<h3>Determining what to send</h3>
			<p>The original intention was to have Veronica only respond with the article's headline. Upon further investigation, headlines did not communicate enough value. Sending the headline along with the article link was the proper solution. This enabled Veronica to transfer a short description while also giving the user the option to read more.<p>
		</div>
	</div>


	<div class="row mb-6">
		<div class="col-xs-12 col-md-5 offset-md-1">
			<h3>Examples of commands</h3>
			<ul class="xs">
				<li>Bloomberg, <code>bloomberg</code></li>
				<li>Buzzfeed, <code>buzzfeed</code></li>
				<li>CNBC, <code>cnbc</code></li>
				<li>CNN, <code>cnn</code></li>
				<li>ESPN, <code>espn</code></li>
				<li>Hacker News, <code>hacker-news</code></li>
				<li>Mashable, <code>mashable</code></li>
				<li>The Economist, <code>the-economist</code></li>
				<li>The New York Times, <code>the-new-york-times</code></li>
				<li>The Wall Street Journal, <code>the-wall-street-journal</code></li>
				<li>Time, <code>time</code></li>
				<li>USA Today, <code>usa-today</code></li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-6">
			<figure class="center">
				<img src="https://s3.amazonaws.com/garybunofsky.com/veronica-iphone-2.png" alt="veronica-iphone-1" />
			</figure>
		</div>
	</div>

	<hr class="sm mb-8" />
		
	<div class="row mb-6">
		<div class="col-sm-12 col-md-6">
			<p>The desire to build Veronica came from wanting to get news without an app. If you want the latest news, just text <em>CNN</em>, <em>Time</em>, or something else to (321) 233-9118</p>
			<%= link_to "Back to Portfolio", static_path(:portfolio), class: "btn btn-outline" %>
		</div>
	</div>
	
	
</div>
