<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../components/head.ejs') %>
  <body>
    <%- include('../components/nav.ejs') %>
    <%- include('../components/hero.ejs', {head: 'Facebook\'s New Job', sub: 'How Facebook shouldn\'t be our single source of truth.' }) %>
    <main class="content wrapper-md">
      <section>
        <p class="text--sm">People are mad. And rightfully so. Many believe the fake news on Facebook altered the results of the 2016 election. And it probably did, but Facebook shouldn't be held responsible.</p>
        <p class="text--sm">It's easy to point the finger at Facebook. It's where many go to get their news. But they're not a news outlet and never claimed to be. Facebook's role is to serve you a link to an article – that's all. The article might be fact, it might be fiction, but it's not their job to determine. Making it so encroaches on Facebook's responsibilities as a service. They only provide a way to get there. As they say, don't shoot the messenger.</p>
        <p class="text--sm">It's a valid request to want to eliminate fake news. At face value filtering fake news looks like a viable solution. However, implementing this regulation would delay the rate at which news can be posted. Before being posted Facebook would need to determine if it was indeed true. Valid, time-sensitive news would no longer be instantaneous. This would be difficult to scale.</p>
        <p class="text--sm">What makes the web amazing is that anyone can publish anything in an instant, but that comes at a price. Thus, we shouldn't assume our news is valid, regardless of the source. Instead, we should question why we're getting our news from Facebook.</p>
      </section>
    </main>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
