<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../components/head.ejs') %>
  <body>
    <%- include('../components/nav.ejs') %>
    <%- include('../components/hero.ejs', {head: 'Finding Photos', sub: 'How to find free photos for your website.' }) %>
    <main class="content wrapper-md">
      <section>
        <p class="text--sm">Finding stock photos can be a hassle. Luckily there are websites that host free high-quality images. I curated a list of some of my favorites here. It will be updated frequently so only good links are present.</p>
        <ul class="text--sm">
          <li>
            <a class="caret" href="http://albumarium.com/" target="_blank" rel="noopener">albumarium.com</a>
          </li>
          <li>
            <a class="caret" href="http://allthefreestock.com/" target="_blank" rel="noopener">allthefreestock.com</a>
          </li>
          <li>
            <a class="caret" href="http://compfight.com/" target="_blank" rel="noopener">compfight.com</a>
          </li>
          <li>
            <a class="caret" href="http://cupcake.nilssonlee.se/" target="_blank" rel="noopener">cupcake.nilssonlee.se</a>
          </li>
          <li>
            <a class="caret" href="http://deathtothestockphoto.com/" target="_blank" rel="noopener">deathtothestockphoto.com</a>
          </li>
          <li>
            <a class="caret" href="http://www.designerspics.com/" target="_blank" rel="noopener">designerspics.com</a>
          </li>
          <li>
            <a class="caret" href="https://www.dreamstime.com/free-results.php" target="_blank" rel="noopener">dreamstime.com</a>
          </li>
          <li>
            <a class="caret" href="http://finda.photo/" target="_blank" rel="noopener">finda.photo</a>
          </li>
          <li>
            <a class="caret" href="http://foodiesfeed.com/" target="_blank" rel="noopener">foodiesfeed.com</a>
          </li>
          <li>
            <a class="caret" href="http://freenaturestock.com/" target="_blank" rel="noopener">freenaturestock.com</a>
          </li>
          <li>
            <a class="caret" href="http://freepixels.com/" target="_blank" rel="noopener">freepixels.com</a>
          </li>
          <li>
            <a class="caret" href="http://getrefe.com/downloads/category/free/" target="_blank" rel="noopener">getrefe.com/downloads/category/free</a>
          </li>
          <li>
            <a class="caret" href="http://gratisography.com/" target="_blank" rel="noopener">gratisography.com</a>
          </li>
          <li>
            <a class="caret" href="http://imcreator.com/free/" target="_blank" rel="noopener">imcreator.com/free</a>
          </li>
          <li>
            <a class="caret" href="http://isorepublic.com/" target="_blank" rel="noopener">isorepublic.com</a>
          </li>
          <li>
            <a class="caret" href="http://jaymantri.com/" target="_blank" rel="noopener">jaymantri.com</a>
          </li>
          <li>
            <a class="caret" href="http://jeshoots.com/" target="_blank" rel="noopener">jeshoots.com</a>
          </li>
          <li>
            <a class="caret" href="http://kaboompics.com/" target="_blank" rel="noopener">kaboompics.com</a>
          </li>
          <li>
            <a class="caret" href="http://www.lifeofpix.com/" target="_blank" rel="noopener">lifeofpix.com</a>
          </li>
          <li>
            <a class="caret" href="http://littlevisuals.co/" target="_blank" rel="noopener">littlevisuals.co</a>
          </li>
          <li>
            <a class="caret" href="http://lockandstockphotos.com/" target="_blank" rel="noopener">lockandstockphotos.com</a>
          </li>
          <li>
            <a class="caret" href="http://magdeleine.co/" target="_blank" rel="noopener">magdeleine.co</a>
          </li>
          <li>
            <a class="caret" href="http://morguefile.com/" target="_blank" rel="noopener">morguefile.com</a>
          </li>
          <li>
            <a class="caret" href="http://moveast.me/" target="_blank" rel="noopener">moveast.me</a>
          </li>
          <li>
            <a class="caret" href="http://mmt.li/" target="_blank" rel="noopener">mmt.li</a>
          </li>
          <li>
            <a class="caret" href="http://nos.twnsnd.co/" target="_blank" rel="noopener">nos.twnsnd.co</a>
          </li>
          <li>
            <a class="caret" href="http://thepatternlibrary.com/" target="_blank" rel="noopener">thepatternlibrary.com</a>
          </li>
          <li>
            <a class="caret" href="http://pexels.com/" target="_blank" rel="noopener">pexels.com</a>
          </li>
          <li>
            <a class="caret" href="http://photocollections.io/" target="_blank" rel="noopener">photocollections.io</a>
          </li>
          <li>
            <a class="caret" href="http://picjumbo.com/" target="_blank" rel="noopener">picjumbo.com</a>
          </li>
          <li>
            <a class="caret" href="http://picography.co/" target="_blank" rel="noopener">picography.co</a>
          </li>
          <li>
            <a class="caret" href="https://pixabay.com" target="_blank" rel="noopener">pixabay.com</a>
          </li>
          <li>
            <a class="caret" href="https://pjrvs.com/a/photos" target="_blank" rel="noopener">pjrvs.com/a/photos</a>
          </li>
          <li>
            <a class="caret" href="http://publicdomainarchive.com/" target="_blank" rel="noopener">publicdomainarchive.com</a>
          </li>
          <li>
            <a class="caret" href="http://raumrot.com/" target="_blank" rel="noopener">raumrot.com</a>
          </li>
          <li>
            <a class="caret" href="http://search.creativecommons.org/" target="_blank" rel="noopener">search.creativecommons.org</a>
          </li>
          <li>
            <a class="caret" href="http://www.sitebuilderreport.com/stock-up/" target="_blank" rel="noopener">sitebuilderreport.com/stock-up</a>
          </li>
          <li>
            <a class="caret" href="http://www.splitshire.com/" target="_blank" rel="noopener">splitshire.com</a>
          </li>
          <li>
            <a class="caret" href="http://www.splashbase.co/" target="_blank" rel="noopener">splashbase.co</a>
          </li>
          <li>
            <a class="caret" href="http://startupstockphotos.com/" target="_blank" rel="noopener">startupstockphotos.com</a>
          </li>
          <li>
            <a class="caret" href="http://stockvault.net/" target="_blank" rel="noopener">stockvault.net</a>
          </li>
          <li>
            <a class="caret" href="http://stokpic.com/" target="_blank" rel="noopener">stokpic.com</a>
          </li>
          <li>
            <a class="caret" href="http://sxc.hu/" target="_blank" rel="noopener">sxc.hu</a>
          </li>
          <li>
            <a class="caret" href="http://thestocks.im/" target="_blank" rel="noopener">thestocks.im</a>
          </li>
          <li>
            <a class="caret" href="http://travelcoffeebook.com/" target="_blank" rel="noopener">travelcoffeebook.com</a>
          </li>
          <li>
            <a class="caret" href="http://unsplash.com/" target="_blank" rel="noopener">unsplash.com</a>
          </li>
          <li>
            <a class="caret" href="http://wefunction.com/category/free-photos/" target="_blank" rel="noopener">wefunction.com/category/free-photos</a>
          </li>
         </ul>
      </section>
    </main>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
