<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../components/head.ejs') %>
  <body>
    <%- include('../components/nav.ejs') %>
    <%- include('../components/hero.ejs', {head: 'Free Fonts that Aren’t Google Fonts', sub: 'A list of fonts that are free and not on Google Fonts.' }) %>
    <main class="content wrapper-md">
      <section>
        <p class="text--sm">Google Fonts truly changed the web font game. It’s fantastic to have access to a variety of superb typography. And everyone else seems to think so too. Visit any website and you’re likely to find a Google Font. Now these are all beautiful typefaces, but since nearly every site uses Google Fonts I find them somewhat unoriginal. When I am looking for a font that’s unique and still free I reference the list.</p>
        <ul class="text--sm">
          <li>
            <a class="caret" target="_blank" rel="noopener" href="http://tipotype.com/aileron/">Aileron</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="https://www.behance.net/gallery/26368789/Archivo-Narrow/">Archivo Narrow</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="http://www.carlosdetoro.com/born/">Born</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="https://01.org/clear-sans/">Clear Sans</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="https://github.com/georgd/EB-Garamond/">EB Garamond</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="http://www.losttype.com/font/?name=edmondsans/">Edmond Sans</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="http://cargocollective.com/hanken/HK-Grotesk-Open-Source-Font/">HK Grotesk</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="https://www.theleagueofmoveabletype.com/league-spartan/">League Spartan</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="http://www.losttype.com/font/?name=lehig/">Lehigh</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="http://tipotype.com/medio/">Medio</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="https://losttype.com/font/?name=mort-modern/">Mort Modern</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="http://www.fontsquirrel.com/fonts/source-serif-pro/">Source Serif-Pro</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="http://hubertfischer.com/work/type-rubik/">Type Rubik</a>
          </li>
          <li>
            <a class="caret" target="_blank" rel="noopener" href="https://github.com/uplaod/YoungSerif/">Young Serif</a>
          </li>
        </ul>
      </section>
    </main>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
