<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../components/head.ejs') %>
  <body>
    <%- include('../components/nav.ejs') %>
    <%- include('../components/hero.ejs', {head: 'Website Deployment Checklist', sub: 'A checklist to help you deploy a website and not break anything.' }) %>
    <main class="content wrapper-md">
      <section>
        <p class="text--sm">There are many things to focus on when the time comes to launch a website. Concentration is imperative during this time. Forgetting to complete a small procedure could be detrimental. I have composed this Website Deployment Checklist. When used it can mitigate the risk of unforeseen things happening. It has proven itself valuable time and time again.</p>
        <h3 class="text--md text--bold">Content</h3>
        <ul class="text--sm">
          <li>
            <input type="checkbox"> Correct spelling, grammar, capitalization &amp; punctuation.
          </li>
          <li>
            <input type="checkbox"> Widows and orphans are eliminated.
          </li>
          <li>
            <input type="checkbox"> Heading level text is concise.
          </li>
          <li>
            <input type="checkbox"> Images are relatively linked.
          </li>
          <li>
            <input type="checkbox"> Image files have alt attributes.
          </li>
        </ul>
        <h3 class="text--md text--bold">Links</h3>
        <ul class="text--sm">
          <li>
            <input type="checkbox"> All links are relative and directed to the correct domain.
          </li>
          <li>
            <input type="checkbox"> Links open in a new tab if need be.
          </li>
        </ul>
        <h3 class="text--md text--bold">Forms</h3>
        <ul class="text--sm">
          <li>
            <input type="checkbox"> Forms send values to appropriate location.
          </li>
          <li>
            <input type="checkbox"> Required fields are coded correctly.
          </li>
          <li>
            <input type="checkbox"> Required fields have asterisks.
          </li>
          <li>
            <input type="checkbox"> Placeholder text is eliminated on-click.
          </li>
          <li>
            <input type="checkbox"> Submits in all browsers and devices.
          </li>
          <li>
            <input type="checkbox"> Data is captured with a secondary method.
          </li>
          <li>
            <input type="checkbox"> Preventative measure to reduce form spam.</p>
          </li>
        </ul>
        <h3 class="text--md text--bold">Design</h3>
        <ul class="text--sm">
          <li>
            <input type="checkbox"> The rendered site matches the design.
          </li>
          <li>
            <input type="checkbox"> A favicon created and is linked<sup id="fn:1"><a href="#fnref:1">1</a></sup>.
          </li>
        </ul>
        <h3 class="text--md text--bold">Functionality</h3>
        <ul class="text--sm">
          <li>
            <input type="checkbox"> 404 page directs user to the correct page.
          </li>
          <li>
            <input type="checkbox"> Search function correctly parses content.
          </li>
          <li>
            <input type="checkbox"> Javascript console has no errors.
          </li>
        </ul>
        <h3 class="text--md text--bold">Security</h3>
        <ul class="text--sm">
          <li>
            <input type="checkbox"> Passwords are a combination of letters, numbers and special characters.
          </li>
          <li>
            <input type="checkbox"> Log-in has been changed.
          </li>
          <li>
            <input type="checkbox"> Limit is set on the number of failed log-in attempts.
          </li>
          <li>
            <input type="checkbox"> Content management system is updated.
          </li>
          <li>
            <input type="checkbox"> Plug-ins are the most recent versions.
          </li>
        </ul>
        <h3 class="text--md text--bold">Load</h3>
        <ul class="text--sm">
          <li>
            <input type="checkbox"> Page load time is tested.
          </li>
          <li>
            <input type="checkbox"> Image files are compressed.
          </li>
          <li>
            <input type="checkbox"> Completed a load test.
          </li>
          <li>
            <input type="checkbox"> Requests are kept to a minimum. Unnecessary requests are eliminated.
          </li>
        </ul>
        <h3 class="text--md text--bold">SEO</h3>
        <ul class="text--sm">
          <li>
            <input type="checkbox"> A site map created and accessible.
          </li>
          <li>
            <input type="checkbox"> Submitted site and sitemap to search engines.
          </li>
          <li>
            <input type="checkbox"> Reformatted robots.txt to disable directories from search engines.
          </li>
          <li>
            <input type="checkbox"> Added tracking code.
          </li>
          <li>
            <input type="checkbox"> 301 redirects for non-existent pages.
          </li>
        </ul>
      </section>
    </main>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
