<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../components/head.ejs') %>
  <body>
    <%- include('../components/nav.ejs') %>
    <%- include('../components/hero.ejs', {head: 'Organizing Your Work Bag',
    sub: 'With a bit of thought and organization, you\'ll never be without an important item.' }) %>
    <main class="content wrapper-md">
      <section>
        <p class="text--sm">Remote work is on the rise. Needless to say, more people are journeying to coffee shops and co-working spaces during their 9-5. Working from home is huge work-life balance, but forgetting headphones or a charger can thwart your productivity (especially if you have a call 😱). Of course, setting up at Starbucks for the day requires planning. I can't think of a worse scenario than doubling back for a forgotten item, only to find that all the seats are occupied. It all comes down to what you carry in your bag. With a bit of thought and organization, you'll never be without an important item.<p>
        <p class="text--sm">.There's a balance when deciding what goes in your bag. Carry too many items and you'll suffer from shoulder fatigue during your journey. Carry too little, and you won't have everything you need for the work day. It's easy to over pack. Below are some of the things you'll absolutely want to take with you.</p>
      </section>
      <section>
        <h3 class="text--md text--bold">Your Laptop, Tablet and Phone</h3>
        <p class="text--sm">Naturally, you'll need your laptop and other communication devices. I like to charge them all the night before in case I don't sit near an outlet. Working a full day means you'll probably need to change them at least once. Which leads us to the next set of items; power cables.
      </section>
      <section>
        <h3 class="text--md text--bold">Power cords and other cables</h3>
        <p class="text--sm">Be sure to take your laptop charger, phone charger
           and headphones. Unfortunately all those cables will make finding
           things in your bag quite difficult. Not to mention, untangling all
           of them when you have 3% battery is enough to give anyone anxiety.
           I suggest wrapping them with rubber bands or better yet these
           <a
           href="https://www.amazon.com/gp/product/B01CHAPNRK/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01CHAPNRK&linkCode=as2&tag=garybunofsk04-20&linkId=78ac62f759f388459f26865896eae273"
           target="_blank">Reusable Gear Ties</a> <span class="text--xs">(Amazon Affiliate Link)</span>. They're super convenient, extremely durable and
           make it that much easier to find things that end up at the bottom of
           your briefcase. Please note, as an Amazon Associate I earn from qualifying
           purchases.</p>
      </section>
      <section>
        <h3 class="text--md text--bold">Snacks</h3>
        <p class="text--sm">
        I'll admit one of the best things about setting up in a coffee shop are
        the pastries and other baked goods. While they're delicious, they're
        not the most nutritious when trying to get work done. I carry a few
        snacks like <a href="https://amzn.to/2OnlmbT" target="_blank">Jack
          Link's Beef Jerky</a> <span class="text--xs">(Amazon Affiliate Link)</span>, <a href="https://amzn.to/2RczHqb"
          target="_blank">Rx Bars</a> <span class="text--xs">(Amazon Affiliate Link)</span>, or <a href="https://amzn.to/2NPHnka"
                                           target="_blank" >Larabars</a> <span class="text--xs">(Amazon Affiliate Link)</span> in my
                                         bag that can help curb my appetite.
                                         Since these snacks are low in carbs,
                                         they won't leave you feeling sluggish
                                         like most coffee shop food. They're
                                         the perfect pick me up between lunch and dinner. Most of them are only a few hundred calories per serving too!
        </p>
      </section>
      <section>
        <h3 class="text--md text--bold">Wrapping up</h3>
        <p class="text--sm">
          Working from another location can be tough. Thinking ahead and along with these few items can help you get through the workday. Again, please note, as an Amazon Associate I earn from qualifying
          purchases.
        </p>
      </section>
    </main>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
