<% content_for :page_title, "Introduction" %>
<% content_for :page_description, "My name is Gary Bunofsky. I’m a designer and developer with a love for systems, typography and applications. I enjoy designing user interfaces and writing clean, sustainable code." %>

<p>My name is Gary Bunofsky (<a href="/bunofsky.mp3/" target="_blank">Boon-ov-ski</a>). I’m a designer and developer with a love for systems, typography and applications. I enjoy designing user interfaces and writing clean, sustainable code.</p>

<p>I am currently a Software Developer for <a href="http://employstream.com/">EmployStream</a> where we automate the hiring process. More specifically, I work with a team of developers to continuously integrate features into our current codebase.</p>

<p>Outside of EmployStream, I work on a few side projects. Most of those are what you in my <a href="/portfolio/">portfolio</a>. I also started <a href="http://webmachine.io">Web Machine</a> – a two person development team comprised of CJ Mosure and I. When not <a href="blog/">writing</a> or writing code, I enjoy practicing yoga, keeping up with the stock market and <a href="library/">reading</a>.</p>

<p>Feel free to look at my <a href="/resume.pdf" target="_blank">résumé</a> or follow me on <a href="http://twitter.com/garybunofsky/">Twitter</a>.</p>
