<% content_for :page_title, "Introduction" %>
<% content_for :page_description, "My name is Gary Bunofsky. I’m a designer and developer with a love for systems, typography and applications. I enjoy designing user interfaces and writing clean, sustainable code." %>

<div class="col-md-6 offset-md-3 full-height">
  <h2 class="pt-24">Hi, my name is Gary Bunofsky. I am a designer and developer who enjoys building applications, websites, and products. Welcome to my <%= link_to "portfolio", static_path(:portfolio) %>.</h2>
</div>