<% content_for :page_title, "Introduction" %>
<% content_for :page_description, "Hi, my name is Gary Bunofsky. I am a designer and developer who enjoys building applications, websites, and products. Welcome to my portfolio." %>

<div class="col-md-6 offset-md-3 full-height vertically-centered pb-7">
  <h2>Hi, my name is Gary Bunofsky. I am a designer and developer who enjoys building applications, websites, and products. Welcome to my <%= link_to "portfolio", static_path(:portfolio) %>.</h2>
</div>