<% content_for :page_title, "Introduction" %>
<% content_for :page_description, "Hi, my name is Gary Bunofsky. I am a designer and developer who enjoys building applications, websites, and products. Welcome to my portfolio." %>

<div class="main full-height vertically-centered text-center">
  <div class="wrapper">
    <h2 class="mb-4">Hi, my name is Gary Bunofsky. <br />I am a designer and developer who enjoys building applications, websites, and products.</h2>
    <%= link_to "View My Portfolio", static_path(:portfolio), class: "btn btn-primary" %>
  </div>
</div>
