<% content_for :page_title, "A Month Without Coffee" %>
<% content_for :page_description, "" %>
<% content_for :date_posted, "February 9, 2017" %>
<div class="col-md-6 offset-md-3 mt-12">
  <h2><strong><%= yield :page_title %></strong></h2>
  <p>I remember having my first cup of coffee at my grandma's house. I wasn't allowed to pour my own, but I could pour the cream – and did I ever. My coffee tasted like straight cream and was nearly the same color. I was only 11 years old, who thought this was a good idea? Ever since that Saturday morning I've been drinking coffee every morning.</p>  

  <p>I'm much older now. And while trying to reassess what I actually <em>need</em>, I began to question coffee. Does it do me any good? Is it a habit? How would the day be if I were to abstain from drinking this supposed increased productivity serum? There was only one way to find out.</p>

  <h2 class="lg mb-6 mt-6">TLDR; I stopped drinking coffee for a month and was genuinely happier.</h2>

  
  <h3>Day One</h3>
  <p>I awoke in a haze on a Monday morning. Resisting the temptation to make a cup of joe, I reached for water – the same water that waiters hate to hear you order. Needless to say it was dull and rather underwhelming. For a brief second, I thought about ending my experiment. I quickly talked myself out of it. It wasn't as difficult to say no, as it was to not say yes. The strongest urge was on the first morning.</p>

  <h3>Day Two and Three</h3>
  <p>I presumed that abstaining from coffee would cause me to become easily tired and fatiqued. Suprisingly, I began to notice that I was less tired. My energy levels were consistent. And I didn't crash. Instead I was more calm and focused even when under pressure.</p>
    
  <p>I got more done during work, and wasn't as anxious either. It calm, focused energy too.<p>
  
  <h3>Tea</h3>
  <p>Prior to my coffee abstinence, I began to explore teas. I would enjoy an Assam, Pu Erh or Silver Leaf during the morning hours. When compared to coffee, the mental effect was unfamiliar. It was a more content, focused state, rather than a multitasking rage that coffee resulted in.</p>
  
  <p class="mb-0">As the week progressed I began to notice when craved coffee.</p>
  <ul>
    <li>
      In the morning.
    </li>
    <li>
      When I smelled coffee.
    </li>
    <li>
      While heard a Keurig.
    </li>
    <li>
      When someone said "Starbucks".
    </li>
  </ul>
</div>