<% content_for :page_title, "Facebook's New Job" %>
<% content_for :page_description, "Many believe the fake news on Facebook altered the results of the 2016 election. And it probably did, but Facebook shouldn't be held responsible." %>
<% content_for :date_posted, "November 22, 2016" %>
<div class="col-md-6 offset-md-3 mt-12">
  <h2><strong><%= yield :page_title %></strong></h2>
		
	<p>People are mad. And rightfully so. Many believe the fake news on Facebook altered the results of the 2016 election. And it probably did, but Facebook shouldn't be held responsible.</p>

	<p>It's easy to point the finger at Facebook. It's where many go to get their news <sup id="fn:1"><%= link_to "1", "#fnref:1" %></sup>. But they're not a news outlet and never claimed to be. Facebook's role is to serve you a link to an article – that's all. The article might be fact, it might be fiction, but it's not their job to determine. Making it so encroaches on Facebook's responsibilities as a service. They only provide a way to get there. As they say, don't shoot the messenger.</p>

	<p>It's a valid request to want to eliminate fake news. At face value filtering fake news looks like a viable solution. However, implementing this regulation would delay the rate at which news can be posted. Before being posted Facebook would need to determine if it was indeed <em>true</em>. Valid, time-sensitive news would no longer be instantaneous. This would be difficult to scale.</p>

	<p>What makes the web amazing is that anyone can publish anything in an instant, but that comes at a price. Thus, we shouldn't assume our news is valid, regardless of the source. Instead, we should question why we're getting our news from Facebook.</p>

	<div class="footnotes">
			<ol>
					<li id="fnref:1">
							Albeit they shouldn't, <%= link_to "http://www.journalism.org/2015/06/01/facebook-top-source-for-political-news-among-millennials/" %>. <%= link_to "↑", "#fn:1" %>
					</li>
			</ol>
	</div>
</div>