<% content_for :page_title, "Finding Photos" %>
<% content_for :page_description, "Finding stock photos can be a hassle. Luckily there are websites that host free high-quality images. I curated a list of some of my favorites here." %>
<% content_for :date_posted, "November 18, 2014" %>
<% content_for :image, "https://garybunofsky.com/assets/forest.jpg" %>
<p>Finding stock photos can be a hassle. Luckily there are websites that host free high-quality images. I curated a list of some of my favorites here. It will be updated frequently so only good links are present.</p>
<figure class="center">
		<img src="/assets/forest.jpg" alt="forest" />
		<figcaption class="pull-right">A view of the forest.</figcaption>
</figure>
<h2>Photography Websites</h2>
<ul>
	<li>
		<a href="http://albumarium.com/" target="_blank">albumarium.com</a>
	</li>
	<li>
		<a href="http://allthefreestock.com/" target="_blank">allthefreestock.com</a>
	</li>
	<li>
		<a href="http://compfight.com/" target="_blank">compfight.com</a>
	</li>
	<li>
		<a href="http://cupcake.nilssonlee.se/" target="_blank">cupcake.nilssonlee.se</a>
	</li>
	<li>
		<a href="http://deathtothestockphoto.com/" target="_blank">deathtothestockphoto.com</a>
	</li>
	<li>
		<a href="http://www.designerspics.com/" target="_blank">designerspics.com
	</li>
	<li>
		<a href="http://finda.photo/" target="_blank">finda.photo</a>
	</li>
	<li>
		<a href="http://foodiesfeed.com/" target="_blank">foodiesfeed.com</a>
	</li>
	<li>
		<a href="http://freenaturestock.com/" target="_blank">freenaturestock.com</a>
	</li>
	<li>
		<a href="http://freepixels.com/" target="_blank">freepixels.com</a>
	</li>
	<li>
		<a href="http://getrefe.com/downloads/category/free" target="_blank">getrefe.com/downloads/category/free</a>
	</li>
	<li>
		<a href="http://gratisography.com/" target="_blank">gratisography.com</a>
	</li>
	<li>
		<a href="http://imcreator.com/free" target="_blank">imcreator.com/free</a>
	</li>
	<li>
		<a href="http://isorepublic.com/" target="_blank">isorepublic.com</a>
	</li>
	<li>
		<a href="http://jaymantri.com/" target="_blank">jaymantri.com</a>
	</li>
	<li>
		<a href="http://jeshoots.com/" target="_blank">jeshoots.com</a>
	</li>
	<li>
		<a href="http://kaboompics.com/" target="_blank">kaboompics.com</a>
	</li>
	<li>
		<a href="http://www.lifeofpix.com/" target="_blank">lifeofpix.com</a>
	</li>
	<li>
		<a href="http://littlevisuals.co/" target="_blank">littlevisuals.co</a>
	</li>
	<li>
		<a href="http://lockandstockphotos.com/" target="_blank">lockandstockphotos.com</a>
	</li>
	<li>
		<a href="http://magdeleine.co/" target="_blank">magdeleine.co</a>
	</li>
	<li>
		<a href="http://morguefile.com/" target="_blank">morguefile.com</a>
	</li>
	<li>
		<a href="http://moveast.me/" target="_blank">moveast.me</a>
	</li>
	<li>
		<a href="http://mmt.li/" target="_blank">mmt.li</a>
	</li>
	<li>
		<a href="http://nos.twnsnd.co/" target="_blank">nos.twnsnd.co</a>
	</li>
	<li>
		<a href="http://thepatternlibrary.com/" target="_blank">thepatternlibrary.com</a>
	</li>
	<li>
		<a href="http://pexels.com/" target="_blank">pexels.com</a>
	</li>
	<li>
		<a href="http://photocollections.io/" target="_blank">photocollections.io</a>
	</li>
	<li>
		<a href="http://picjumbo.com/" target="_blank">picjumbo.com</a>
	</li>
	<li>
		<a href="http://picography.co/" target="_blank">picography.co</a>
	</li>
	<li>
		<a href="https://pixabay.com/" target="_blank">pixabay.com</a>
	</li>
	<li>
		<a href="https://pjrvs.com/a/photos" target="_blank">pjrvs.com/a/photos</a>
	</li>
	<li>
		<a href="http://publicdomainarchive.com/" target="_blank">publicdomainarchive.com</a>
	</li>
	<li>
		<a href="http://raumrot.com/" target="_blank">raumrot.com</a>
	</li>
	<li>
		<a href="http://search.creativecommons.org" target="_blank">search.creativecommons.org</a>
	</li>
	<li>
		<a href="http://www.sitebuilderreport.com/stock-up" target="_blank">sitebuilderreport.com/stock-up</a>
	</li>
	<li>
		<a href="http://www.splitshire.com/" target="_blank">splitshire.com</a>
	</li>
	<li>
		<a href="http://www.splashbase.co/" target="_blank">splashbase.co</a>
	</li>
	<li>
		<a href="http://startupstockphotos.com/" target="_blank">startupstockphotos.com</a>
	</li>
	<li>
		<a href="http://stockvault.net/" target="_blank">stockvault.net</a>
	</li>
	<li>
		<a href="http://stokpic.com/" target="_blank">stokpic.com</a>
	</li>
	<li>
		<a href="http://superfamous.com/" target="_blank">superfamous.com</a>
	</li>
	<li>
		<a href="http://sxc.hu/" target="_blank">sxc.hu</a>
	</li>
	<li>
		<a href="http://thestocks.im/" target="_blank">thestocks.im</a>
	</li>
	<li>
		<a href="http://travelcoffeebook.com/" target="_blank">travelcoffeebook.com</a>
	</li>
	<li>
		<a href="http://unsplash.com/" target="_blank">unsplash.com</a>
	</li>
	<li>
		<a href="http://wefunction.com/category/free-photos/" target="_blank">wefunction.com/category/free-photos</a>
	</li>
</ul>
