<% content_for :page_title, "Blog" %>
<% content_for :page_description, "The primary purpose of this blog is to share my thoughts with others. Topics often cover design, development and things of that nature." %>
<p>The primary purpose of this blog is to share my thoughts with others. Topics often cover design, development and things of that nature. These are compositions, lists, references and resources that I feel are valuable enough to pass along.</p>

<section>
  <h2>Basic Git Commands</h2>
  <p><em><a href="/blog/basic-git-commands">Read Post</a></em></p>
</section>

<section>
  <h2>Finding Photos</h2>
  <p><em><a href="/blog/finding-photos">Read Post</a></em></p>
</section>

<section>
  <h2>The Hamburger Icon</h2>
  <p><em><a href="/blog/the-hamburger-icon">Read Post</a></em></p>
</section>

<section>
  <h2>Website Deployment Checklist</h2>
  <p><em><a href="/blog/website-deployment-checklist">Read Post</a></em></p>
</section>
