// alignment.scss
$spacer:                     1rem;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;


// margin-top
.mt-0 { margin-top: ($spacer * 0) !important; }
.mt-1 { margin-top: ($spacer * 1) !important; }
.mt-2 { margin-top: ($spacer * 2) !important; }
.mt-3 { margin-top: ($spacer * 3) !important; }
.mt-4 { margin-top: ($spacer * 4) !important; }
.mt-5 { margin-top: ($spacer * 5) !important; }
.mt-6 { margin-top: ($spacer * 6) !important; }
.mt-7 { margin-top: ($spacer * 7) !important; }
.mt-8 { margin-top: ($spacer * 8) !important; }
.mt-9 { margin-top: ($spacer * 9) !important; }
.mt-10 { margin-top: ($spacer * 10) !important; }
.mt-11 { margin-top: ($spacer * 11) !important; }
.mt-12 { margin-top: ($spacer * 12) !important; }
.mt-13 { margin-top: ($spacer * 13) !important; }
.mt-14 { margin-top: ($spacer * 14) !important; }
.mt-15 { margin-top: ($spacer * 15) !important; }
.mt-16 { margin-top: ($spacer * 16) !important; }
.mt-17 { margin-top: ($spacer * 17) !important; }
.mt-18 { margin-top: ($spacer * 18) !important; }
.mt-19 { margin-top: ($spacer * 19) !important; }
.mt-20 { margin-top: ($spacer * 20) !important; }
.mt-21 { margin-top: ($spacer * 21) !important; }
.mt-22 { margin-top: ($spacer * 22) !important; }
.mt-23 { margin-top: ($spacer * 23) !important; }
.mt-24 { margin-top: ($spacer * 24) !important; }

// margin-bottom
.mb-0 { margin-bottom: ($spacer * 0) !important; }
.mb-1 { margin-bottom: ($spacer * 1) !important; }
.mb-2 { margin-bottom: ($spacer * 2) !important; }
.mb-3 { margin-bottom: ($spacer * 3) !important; }
.mb-4 { margin-bottom: ($spacer * 4) !important; }
.mb-5 { margin-bottom: ($spacer * 5) !important; }
.mb-6 { margin-bottom: ($spacer * 6) !important; }
.mb-7 { margin-bottom: ($spacer * 7) !important; }
.mb-8 { margin-bottom: ($spacer * 8) !important; }
.mb-9 { margin-bottom: ($spacer * 9) !important; }
.mb-10 { margin-bottom: ($spacer * 10) !important; }
.mb-11 { margin-bottom: ($spacer * 11) !important; }
.mb-12 { margin-bottom: ($spacer * 12) !important; }
.mb-13 { margin-bottom: ($spacer * 13) !important; }
.mb-14 { margin-bottom: ($spacer * 14) !important; }
.mb-15 { margin-bottom: ($spacer * 15) !important; }
.mb-16 { margin-bottom: ($spacer * 16) !important; }
.mb-17 { margin-bottom: ($spacer * 17) !important; }
.mb-18 { margin-bottom: ($spacer * 18) !important; }
.mb-19 { margin-bottom: ($spacer * 19) !important; }
.mb-20 { margin-bottom: ($spacer * 20) !important; }
.mb-21 { margin-bottom: ($spacer * 21) !important; }
.mb-22 { margin-bottom: ($spacer * 22) !important; }
.mb-23 { margin-bottom: ($spacer * 23) !important; }
.mb-24 { margin-bottom: ($spacer * 24) !important; }

// margin-left
.ml-0 { margin-left: ($spacer * 0) !important; }
.ml-1 { margin-left: ($spacer * 1) !important; }
.ml-2 { margin-left: ($spacer * 2) !important; }
.ml-3 { margin-left: ($spacer * 3) !important; }
.ml-4 { margin-left: ($spacer * 4) !important; }
.ml-5 { margin-left: ($spacer * 5) !important; }
.ml-6 { margin-left: ($spacer * 6) !important; }
.ml-7 { margin-left: ($spacer * 7) !important; }
.ml-8 { margin-left: ($spacer * 8) !important; }
.ml-9 { margin-left: ($spacer * 9) !important; }
.ml-10 { margin-left: ($spacer * 10) !important; }
.ml-11 { margin-left: ($spacer * 11) !important; }
.ml-12 { margin-left: ($spacer * 12) !important; }
.ml-13 { margin-left: ($spacer * 13) !important; }
.ml-14 { margin-left: ($spacer * 14) !important; }
.ml-15 { margin-left: ($spacer * 15) !important; }
.ml-16 { margin-left: ($spacer * 16) !important; }
.ml-17 { margin-left: ($spacer * 17) !important; }
.ml-18 { margin-left: ($spacer * 18) !important; }
.ml-19 { margin-left: ($spacer * 19) !important; }
.ml-20 { margin-left: ($spacer * 20) !important; }
.ml-21 { margin-left: ($spacer * 21) !important; }
.ml-22 { margin-left: ($spacer * 22) !important; }
.ml-23 { margin-left: ($spacer * 23) !important; }
.ml-24 { margin-left: ($spacer * 24) !important; }

// padding-right
.mr-0 { margin-right: ($spacer * 0) !important; }
.mr-1 { margin-right: ($spacer * 1) !important; }
.mr-2 { margin-right: ($spacer * 2) !important; }
.mr-3 { margin-right: ($spacer * 3) !important; }
.mr-4 { margin-right: ($spacer * 4) !important; }
.mr-5 { margin-right: ($spacer * 5) !important; }
.mr-6 { margin-right: ($spacer * 6) !important; }
.mr-7 { margin-right: ($spacer * 7) !important; }
.mr-8 { margin-right: ($spacer * 8) !important; }
.mr-9 { margin-right: ($spacer * 9) !important; }
.mr-10 { margin-right: ($spacer * 10) !important; }
.mr-11 { margin-right: ($spacer * 11) !important; }
.mr-12 { margin-right: ($spacer * 12) !important; }
.mr-13 { margin-right: ($spacer * 13) !important; }
.mr-14 { margin-right: ($spacer * 14) !important; }
.mr-15 { margin-right: ($spacer * 15) !important; }
.mr-16 { margin-right: ($spacer * 16) !important; }
.mr-17 { margin-right: ($spacer * 17) !important; }
.mr-18 { margin-right: ($spacer * 18) !important; }
.mr-19 { margin-right: ($spacer * 19) !important; }
.mr-20 { margin-right: ($spacer * 20) !important; }
.mr-21 { margin-right: ($spacer * 21) !important; }
.mr-22 { margin-right: ($spacer * 22) !important; }
.mr-23 { margin-right: ($spacer * 23) !important; }
.mr-24 { margin-right: ($spacer * 24) !important; }

// padding-top
.pt-0 { padding-top: ($spacer * 0) !important; }
.pt-1 { padding-top: ($spacer * 1) !important; }
.pt-2 { padding-top: ($spacer * 2) !important; }
.pt-3 { padding-top: ($spacer * 3) !important; }
.pt-4 { padding-top: ($spacer * 4) !important; }
.pt-5 { padding-top: ($spacer * 5) !important; }
.pt-6 { padding-top: ($spacer * 6) !important; }
.pt-7 { padding-top: ($spacer * 7) !important; }
.pt-8 { padding-top: ($spacer * 8) !important; }
.pt-9 { padding-top: ($spacer * 9) !important; }
.pt-10 { padding-top: ($spacer * 10) !important; }
.pt-11 { padding-top: ($spacer * 11) !important; }
.pt-12 { padding-top: ($spacer * 12) !important; }
.pt-13 { padding-top: ($spacer * 13) !important; }
.pt-14 { padding-top: ($spacer * 14) !important; }
.pt-15 { padding-top: ($spacer * 15) !important; }
.pt-16 { padding-top: ($spacer * 16) !important; }
.pt-17 { padding-top: ($spacer * 17) !important; }
.pt-18 { padding-top: ($spacer * 18) !important; }
.pt-19 { padding-top: ($spacer * 19) !important; }
.pt-20 { padding-top: ($spacer * 20) !important; }
.pt-21 { padding-top: ($spacer * 21) !important; }
.pt-22 { padding-top: ($spacer * 22) !important; }
.pt-23 { padding-top: ($spacer * 23) !important; }
.pt-24 { padding-top: ($spacer * 24) !important; }

// padding-bottom
.pb-0 { padding-bottom: ($spacer * 0) !important; }
.pb-1 { padding-bottom: ($spacer * 1) !important; }
.pb-2 { padding-bottom: ($spacer * 2) !important; }
.pb-3 { padding-bottom: ($spacer * 3) !important; }
.pb-4 { padding-bottom: ($spacer * 4) !important; }
.pb-5 { padding-bottom: ($spacer * 5) !important; }
.pb-6 { padding-bottom: ($spacer * 6) !important; }
.pb-7 { padding-bottom: ($spacer * 7) !important; }
.pb-8 { padding-bottom: ($spacer * 8) !important; }
.pb-9 { padding-bottom: ($spacer * 9) !important; }
.pb-10 { padding-bottom: ($spacer * 10) !important; }
.pb-11 { padding-bottom: ($spacer * 11) !important; }
.pb-12 { padding-bottom: ($spacer * 12) !important; }
.pb-13 { padding-bottom: ($spacer * 13) !important; }
.pb-14 { padding-bottom: ($spacer * 14) !important; }
.pb-15 { padding-bottom: ($spacer * 15) !important; }
.pb-16 { padding-bottom: ($spacer * 16) !important; }
.pb-17 { padding-bottom: ($spacer * 17) !important; }
.pb-18 { padding-bottom: ($spacer * 18) !important; }
.pb-19 { padding-bottom: ($spacer * 19) !important; }
.pb-20 { padding-bottom: ($spacer * 20) !important; }
.pb-21 { padding-bottom: ($spacer * 21) !important; }
.pb-22 { padding-bottom: ($spacer * 22) !important; }
.pb-23 { padding-bottom: ($spacer * 23) !important; }
.pb-24 { padding-bottom: ($spacer * 24) !important; }

// padding-left
.pl-0 { padding-left: ($spacer * 0) !important; }
.pl-1 { padding-left: ($spacer * 1) !important; }
.pl-2 { padding-left: ($spacer * 2) !important; }
.pl-3 { padding-left: ($spacer * 3) !important; }
.pl-4 { padding-left: ($spacer * 4) !important; }
.pl-5 { padding-left: ($spacer * 5) !important; }
.pl-6 { padding-left: ($spacer * 6) !important; }
.pl-7 { padding-left: ($spacer * 7) !important; }
.pl-8 { padding-left: ($spacer * 8) !important; }
.pl-9 { padding-left: ($spacer * 9) !important; }
.pl-10 { padding-left: ($spacer * 10) !important; }
.pl-11 { padding-left: ($spacer * 11) !important; }
.pl-12 { padding-left: ($spacer * 12) !important; }
.pl-13 { padding-left: ($spacer * 13) !important; }
.pl-14 { padding-left: ($spacer * 14) !important; }
.pl-15 { padding-left: ($spacer * 15) !important; }
.pl-16 { padding-left: ($spacer * 16) !important; }
.pl-17 { padding-left: ($spacer * 17) !important; }
.pl-18 { padding-left: ($spacer * 18) !important; }
.pl-19 { padding-left: ($spacer * 19) !important; }
.pl-20 { padding-left: ($spacer * 20) !important; }
.pl-21 { padding-left: ($spacer * 21) !important; }
.pl-22 { padding-left: ($spacer * 22) !important; }
.pl-23 { padding-left: ($spacer * 23) !important; }
.pl-24 { padding-left: ($spacer * 24) !important; }

// padding-right
.pr-0 { padding-right: ($spacer * 0) !important; }
.pr-1 { padding-right: ($spacer * 1) !important; }
.pr-2 { padding-right: ($spacer * 2) !important; }
.pr-3 { padding-right: ($spacer * 3) !important; }
.pr-4 { padding-right: ($spacer * 4) !important; }
.pr-5 { padding-right: ($spacer * 5) !important; }
.pr-6 { padding-right: ($spacer * 6) !important; }
.pr-7 { padding-right: ($spacer * 7) !important; }
.pr-8 { padding-right: ($spacer * 8) !important; }
.pr-9 { padding-right: ($spacer * 9) !important; }
.pr-10 { padding-right: ($spacer * 10) !important; }
.pr-11 { padding-right: ($spacer * 11) !important; }
.pr-12 { padding-right: ($spacer * 12) !important; }
.pr-13 { padding-right: ($spacer * 13) !important; }
.pr-14 { padding-right: ($spacer * 14) !important; }
.pr-15 { padding-right: ($spacer * 15) !important; }
.pr-16 { padding-right: ($spacer * 16) !important; }
.pr-17 { padding-right: ($spacer * 17) !important; }
.pr-18 { padding-right: ($spacer * 18) !important; }
.pr-19 { padding-right: ($spacer * 19) !important; }
.pr-20 { padding-right: ($spacer * 20) !important; }
.pr-21 { padding-right: ($spacer * 21) !important; }
.pr-22 { padding-right: ($spacer * 22) !important; }
.pr-23 { padding-right: ($spacer * 23) !important; }
.pr-24 { padding-right: ($spacer * 24) !important; }
