@import "variables";
// basic.css.scss

html {
  font-size:62.5% !important;
  color:$brand-primary;
}

body {
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
}

.full-height {
  height: 100vh;
}

a.portfolio-link {
  @include border-radius(7px);
  width: 100%;
  height: 100%;
  display: block;
  padding:24px;
  &:hover {
    @include trans;
    background-color: $light;
    text-decoration: none !important;
  }
}
// Photos
figure.center {
  img {
   width: 100%;
   overflow: hidden;
   margin-bottom: 6px;
  }
  a img {
    @include trans;
    &:hover {
      opacity: 0.75;
    }
  }
  img.project {
  @include border-radius(5px);
  border:1px solid $border;
    &:hover {
      @include trans;
      border:1px solid $accent-primary;
    }
  }
  img.no-link {
  &:hover {
    border:1px solid $border;
   }
  }
  figcaption {
    @include sans-serif(12);
    color:$brand-secondary;
    margin-bottom: 24px;
  }
}

figure.over {
    img {
      overflow: hidden;
      margin: 0 -25% 6px -25%;
    }
    figcaption {
      @include sans-serif(12);
      color:$brand-secondary;
      margin: 0 -25% 0 -25%;
      margin-bottom: 24px;
    }
}
figure.circle {
    img {
      width: 100%;
      border-radius: 50%;
    }
}

.video-iphone {
  background:url(/veronica-iphone-1.png) no-repeat;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  //padding:81px 303px;
  video {
    margin-left: 269px;
    margin-top: 76px;
  }
}
