@import "variables";
// basic.css.scss

html {
  font-size:62.5% !important;
  color:$brand-primary;
  background: $white;
}
body {
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
	background: $white !important;
}
.container,
.container-fluid {
  padding-left:24px!important;
  padding-right:24px!important;
}
.card {
  @include border-radius(5px);
  padding:24px;
  border:1px solid $border;
  background: $grey !important;
  &:hover,
  &:active,
  &:focus {
    @include trans;
    border:1px solid $accent-primary;
  }
}

// Photos
figure.center {
   img {
     width: 100%;
     overflow: hidden;
     margin-bottom: 6px;
   }
   figcaption {
     @include sans-serif(23);
     color:$brand-secondary;
     margin-bottom: 24px;
   }
}

figure.over {
    img {
      overflow: hidden;
      margin: 0 -25% 6px -25%;
    }
    figcaption {
      @include sans-serif(23);
      color:$brand-secondary;
      margin: 0 -25% 0 -25%;
      margin-bottom: 24px;
    }
}
figure.circle {
    img {
      width: 100%;
      border-radius: 50%;
    }
}
  
// Carousel 
ol.carousel-indicators {
  bottom:-10px;
}
.carousel-item {
  height:210px;
}
ol.carousel-indicators li {
  border: 1px solid $brand-secondary;
}
ol.carousel-indicators li.active {
  border: 1px solid $accent-primary;
  background: $accent-primary;
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
