@import "variables";
// changelog.css.scss

.graph-container {
	border:1px solid $border;
	background: $light;
	@include border-radius(5px,5px,5px,5px);
	width: auto;
  overflow-x: auto;
	overflow-y: hidden;
	height: 172px;
	#graph {
		display: inline-block;
		position: relative;
		width: 100%;
		vertical-align: top;
		overflow: visible;
		path {
			stroke: $brand-secondary;
			stroke-width: 1;
			fill: none;
		}
		.x.axis line {
			stroke: $grey;
		}
		.x.axis path {
			display: none;
		}
		.y.axis line, .y.axis path {
			fill: none;
			stroke: $grey;
		}
	}
}
