@import "variables";
// footer.css.scss

footer {
  .bkg {
    width: 100%;
    height: 100%;
    background: url("/bkg.svg") center;
  }
  background: $accent-primary;
  background: -webkit-linear-gradient(135deg, $accent-primary 0, $accent-secondary 100%);
  background: linear-gradient(135deg, $accent-primary 0, $accent-secondary 100%);
  h3 {
    color: $white;
  }
  h4 {
    color: $white;
    a {
      color: $white !important;
      font-weight: 600;
      padding: 5px 4px;
      margin: -2px -4px;
      @include border-radius(3px);
      @include trans;
      &:active,
      &:focus,
      &:hover {
        background-color: $white;
        color: $accent-primary !important;  
      }
    }  
  }
}