@import "variables";
// forms.css.scss

.form-control {
  @include sans-serif(16);
  @include border-radius(5px);
  color:$brand-secondary;
  border:1px solid $border;
  background:transparent;
  margin:2px 0 0 0;
  padding:11px 12px;
  height:auto;
  -webkit-appearance: none;
  outline: none;
}
.form-group {
  margin:0 0 18px 0;
}
//focused
.form-control:focus,
.comment-form input[type=text]:focus,
.comment-form input[type=email]:focus,
.comment-form input[type=url]:focus,
.comment-form textarea:focus {
  border-color:$accent-primary;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(125, 90, 173,.1);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(125, 90, 173,.1);
}


.btn {
  @include border-radius(5px);
  @include sans-serif(16);
	font-weight: 600;
  padding:7px 18px;
	text-decoration: none;
}

.btn-primary {
	background: $accent-primary;
	color:$white;
	border-color: $accent-primary;
  &:hover,
  &:focus {
    background:$accent-secondary;
    border:1px solid $accent-secondary;
    cursor:pointer;
  }
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    outline: 0;
  }
  &:visited {
    color:$white;
  }
}

.btn-outline {
	background: $white;
	color:$accent-primary;
	border-color: $accent-primary;
  &:hover,
  &:focus {
    color: $white;
    background:$accent-secondary;
    border:1px solid $accent-secondary;
    cursor:pointer;
  }
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    outline: 0;
  }
}
