@import "variables";
// media-query.css.scss

@media (max-width:1199px){
  html {
    font-size:62.5% !important;
  }
}
@media (max-width:767px){
 html {
   font-size:60% !important;
 }
}

@media (max-width:600px){
 html {
   font-size:56% !important;
 }
}
