@import "variables";
// modal.css.scss

.modal {
  .modal-content {
    @include border-radius(6px,6px,6px,6px);
  }
  .modal-body {
    padding: 0 0 0 0;
    ul {
      margin-left: -40px !important;
      li {
        list-style: none;
        width: 100%;
        border-bottom: 1px solid $light;
        a {
          @include sans-serif(14);
          color:$accent-primary;
          font-weight: 500 !important;
          width: 100%;
          display: inline-block;
          padding:15px;
          width: 100%;
          &:hover,
          &:focus,
          &:active {
            background-color: $light;
          }
        }
        &:last-of-type {
          border-bottom:none;
        }
      }
    }
  }
  .modal-footer {
    border-radius: 0 0 6px 6px;
    display: inline-block;
  }
}

.modal-open .container-fluid,
.modal-open  .container {
  -webkit-filter: blur(5px);
}