// variables.css.scss
$sans-serif:"Libre Franklin", sans-serif;
$serif:"Georgia", Times, serif;

// Colors
$brand-primary:         #3a3838;
$brand-secondary:       #737171;
$light:                 #f1f4f7;
$white:                 #ffffff;
$border:                #E3E3E3;
$accent-primary:        #4f97ea;
$accent-secondary:      #7be7d7;
$accent-tertiary:       #87b7ef;

// Font size and line-height
$base-font-size:16;
$base-line-height:1.5;

// Mixins
@mixin serif($size) {
  font-size: (1px * ($size));
  line-height: (1px * ($size * $base-line-height));
  margin-bottom: ($base-line-height / 2);
  font-family:$serif;
  font-weight:400;
}

@mixin sans-serif($size) {
  font-size: (1px * ($size));
  line-height: (1px * ($size * $base-line-height));
  margin-bottom: ($base-line-height / 2);
  font-family:$sans-serif;
  font-weight:400;
  letter-spacing: (0.5px * ($size / 100));
}

@mixin trans { transition: all .27s; }

@mixin border-radius($top, $right, $bottom, $left) {
  -webkit-border-radius: $top $right $bottom $left;
  -moz-border-radius: $top $right $bottom $left;
  -ms-border-radius: $top $right $bottom $left;
  border-radius: $top $right $bottom $left;
}
