// variables.css.scss

$sans-serif:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif:"Georgia", Times, serif;

// Colors
$brand-primary:         #494B4D;
$brand-secondary:       #6f7c82;

$medium:                #B0B5B8;
$light:                 #F0EFE9;
$grey:                  #d4d4d4;
$w:                     #ffffff;
$neutral:               #F8F7F2;
$accent:                #ABAC91;
$alert:                 #FF3A30;


.background-medium { background: $medium; }
.background-light { background: $light; }
.background-grey { background: $grey; }
.background-w { background: $w; }
.background-neutral { background: $neutral; }
.background-accent { background: $accent; }
.background-alert { background: $alert; }


@mixin trans { transition: all .3s; }
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
// Padding Top
.pt12 {padding-top:12px;}
.pt24 {padding-top:24px;}
.pt36 {padding-top:36px;}
.pt48 {padding-top:48px;}
.pt60 {padding-top:60px;}
.pt72 {padding-top:72px;}
.pt84 {padding-top:84px;}
.pt96 {padding-top:96px;}
.pt108 {padding-top:108px;}
.pt120 {padding-top:120px;}
.pt132 {padding-top:132px;}
.pt144 {padding-top:144px;}

// Padding Bottom
.pb12 {padding-bottom:12px;}
.pb24 {padding-bottom:24px;}
.pb36 {padding-bottom:36px;}
.pb48 {padding-bottom:48px;}
.pb60 {padding-bottom:60px;}
.pb72 {padding-bottom:72px;}
.pb84 {padding-bottom:84px;}
.pb96 {padding-bottom:96px;}
.pb108 {padding-bottom:108px;}
.pb120 {padding-bottom:120px;}
.pb132 {padding-bottom:132px;}
.pb144 {padding-bottom:144px;}

// Font size and line-height
$doc-font-size:16;
$doc-line-height:24;

// Font Mixins
@mixin serif($size) {
      font-size: 10px * ($size / $doc-font-size);
      font-size: 0rem + $size / $doc-font-size;
      line-height: ceil($size / $doc-line-height) * ($doc-line-height / $size);
      margin-bottom: 0px + ($doc-line-height / 2);
      font-family:$serif;
}

@mixin sans-serif($size) {
      font-size: 10px * ($size / $doc-font-size);
      font-size: 0rem + $size / $doc-font-size;
      line-height: ceil($size / $doc-line-height) * ($doc-line-height / $size);
      margin-bottom: 0px + ($doc-line-height / 2);
      font-family:$sans-serif;

      font-weight:400;
}
