<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../components/head.ejs') %>
  <body>
    <%- include('../components/nav.ejs') %>
    <%- include('../components/hero.ejs', {head: 'Web Hosting Made Easy', sub: 'Your site is fast and secure - so you can focus on your business.' }) %>
    <main class="content wrapper-lg">
      <section class="grid grid--gutters">
        <div class="grid--item">
          <h3 class="text--sm text--bold text--gray--700 wifi">Fast and Reliable</h3>
          <p class="text--sm">Your website will perform faster and more
          reliably with solid-state technology.</p>
        </div>
        <div class="grid--item">
          <h3 class="text--sm text--bold text--gray--700 globe">Always Online</h3>
          <p class="text--sm">Server uptime is around 99.99%, so you'll
          never lose a visitor or a potential client.</p>
        </div>
        <div class="grid--item">
          <h3 class="server text--sm text--bold text--gray--700 wrench">Scheduled Upgrades</h3>
          <p class="text--sm">Keep your site fast and secure with regular
          upgrades to your database and plugins.</p>
        </div>
      </section>
      <section class="grid grid--gutters">
        <div class="grid--item">
          <h3 class="text--sm text--bold text--gray--700 coffee">Be Less Busy</h3>
          <p class="text--sm">Updates, migrations and backups are taken care
          of, so you can focus on your business.</p>
        </div>
        <div class="grid--item">
          <h3 class="text--sm text--bold text--gray--700 hdd">5GB of Storage</h3>
          <p class="text--sm">Publish tons of files, marketing material,
          and other resources for you visitors.</p>
        </div>
        <div class="grid--item">
          <h3 class="text--sm text--bold text--gray--700 bug">DDoS Mitigation</h3>
          <p class="text--sm">Secure monitoring ensures your site is safe from
          hackers and botnets.</p>
        </div>
      </section>
    </main>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
