<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../components/head.ejs') %>
  <body>
    <%- include('../components/nav.ejs') %>
    <%- include('../components/hero.ejs', {head: 'Website Design and Development', sub: 'Website packages for any business and every budget.'  }) %>
    <main class="content">
      <section class="mb-6">
        <div class="wrapper-lg">
          <div class="pricing--tiers grid grid--gutters mb-4">
            <div class="grid--item mb-4">
              <a href="/quote/" target="_blank">
                <div class="key-value">
                  <div class="icon">
                    <img src="/icons/website-blue.svg">
                  </div>
                  <h3 class="text--md text--bold text--center">
                    Small Website
                  </h3>
                  <div class="row">
                    <span>Responsive website</span>
                  </div>
                  <div class="row">
                    <span>1-4 Pages</span>
                  </div>
                  <div class="row">
                    <span>1 Form</span>
                  </div>
                  <span class="button">Get Your Quote</span>
                </div>
              </a>
            </div>
            <div class="grid--item mb-4">
              <a href="/quote/">
                <div class="key-value">
                  <div class="icon">
                    <img src="/icons/website-blue.svg">
                  </div>
                  <h3 class="text--md text--bold text--center">
                    Standard Website
                  </h3>
                  <div class="row">
                    <span>Responsive website</span>
                  </div>
                  <div class="row">
                    <span>5-9 Pages</span>
                  </div>
                  <div class="row">
                    <span>2 Contact forms</span>
                  </div>
                  <div class="row">
                    <span>Analytics tracking</span>
                  </div>
                  <span class="button">Get Your Quote</span>
                </div>
              </a>
            </div>
            <div class="grid--item mb-4">
              <a href="/quote/" target="_blank">
                <div class="key-value">
                  <div class="icon">
                    <img src="/icons/website-blue.svg">
                  </div>
                  <h3 class="text--md text--bold  text--center">
                    Large Website
                  </h3>
                  <div class="row">
                    <span>Responsive website</span>
                  </div>
                  <div class="row">
                    <span>10+ Pages</span>
                  </div>
                  <div class="row">
                    <span>3+ Contact forms</span>
                  </div>
                  <div class="row">
                    <span>Analytics tracking</span>
                  </div>
                  <div class="row">
                    <span>SSL</span>
                  </div>
                  <div class="row">
                    <span>Automatic backups</span>
                  </div>
                  <div class="row">
                    <span>Increased performance</span>
                  </div>
                  <div class="row">
                    <span>Security monitoring</span>
                  </div>
                  <div class="row">
                    <span>API integration</span>
                  </div>
                  <span class="button">Get Your Quote</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="pricing--features wrapper-lg mb-4">
          <h4 class="text--lg text--bold text--center mb-2">What's this stuff really mean?</h4>

          <div class="grid grid--gutters">
            <div class="grid--item">
              <h4 class="text--sm text--bold text--gray--700 website">Responsive Website</h4>
              <p class="text--sm">Your website will look good any any device, including mobile and tablets.</p>
            </div>

            <div class="grid--item">
              <h4 class="text--sm text--bold text--gray--700 chat">Contact Form</h4>
              <p class="text--sm">Vistors can send you a message or request a quote from your site.</p>
            </div>

            <div class="grid--item">
              <h4 class="text--sm text--bold text--gray--700 tracking">Analytics Tracking</h4>
              <p class="text--sm">See who is visiting your site, at what time, and from what location.</p>
            </div>

            <div class="grid--item">
              <h4 class="text--sm text--bold text--gray--700 backups">Automatic Backups</h4>
              <p class="text--sm">If your site happens to crash, we can restore it quickly and easily</p>
            </div>
          </div>

          <div class="grid grid--gutters">
            <div class="grid--item">
              <h4 class="text--sm text--bold text--gray--700 security">Security Monitoring</h4>
              <p class="text--sm">We watch for suspiscious activity and proactively stop hackers from accessing your site.</p>
            </div>

            <div class="grid--item">
              <h4 class="text--sm text--bold text--gray--700 api">API Integration</h4>
              <p class="text--sm">We can connect your site to another part of your business, like Facebook, Yelp, or Instagram.</p>
            </div>

            <div class="grid--item">
              <h4 class="text--sm text--bold text--gray--700 performance">Increased Performance</h4>
              <p class="text--sm">To keep your site super fast, we run regular performance audits to reduce the load time.</p>
            </div>

            <div class="grid--item">
              <h4 class="text--sm text--bold text--gray--700 ssl">SSL</h4>
              <p class="text--sm">An SSL certificate encrypts your website's traffic providing a more secure experience and an SEO boost.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="margin-auto text--center">
        <a href="/quote/" class="button button--lg">Get Your Quote</a>
      </section>
    </main>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
