<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../components/head.ejs') %>
  <body>
    <%- include('../components/nav.ejs') %>
    <%- include('../components/hero.ejs', {head: 'Pass.js', sub: 'A JavaScript library to monitor PPC campaigns.' }) %>
    <main class="content wrapper-md">
      <section>
        <p class="text--sm">While at Fathom, our clients would spend thousands of dollars to get leads from pay-per-click (PPC) campaigns. I was building and maintaining a lot of these high-traffic websites. Our clients wanted to run the campaigns that yielded the most leads. So naturally they asked to compare how different campaign search terms were performing. At the time, we didn’t have a standard way to track campaign metrics.</p>
        <p class="text--sm">Clients began demanding this feature, especially our highest-value customers. I set out to build an MVP to track this information. The spec included:</p>
        <ul class="text--sm bulleted">
          <li>Track any query parameter</li>
          <li>Compatible with any website</li>
          <li>Lightweight</li>
        </ul>
        <a class="button" href="http://garybunofsky.github.io/pass.js/" target="_blank" rel="noopener">View Website</a>
      </section>
    </main>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
