<footer class="pt72">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
       <hr />
        <p class="sm">&copy; <%= Date.today.year %> <a href="/">Gary Bunofsky</a> | <a href="/privacy-policy">Privacy Policy</a> | <a href="/resume.pdf" target="_blank">Résumé</a> | <a href="/style-guide">Style Guide</a></p>
      </div>
    </div>
  </div>
</footer>
