<footer class="full-height">
  <div class="container-fluid">
    <div class="raindrops"></div>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h3 class="sm pt-14">Design</h3>
        <h4><%= link_to "<strong>Tiny Notes</strong> is a note taking app".html_safe, "/portfolio/tiny-notes", class: "color-accent-primary" %></h4>
        <h4><%= link_to "<strong>Lease Lightning</strong> is leasing app".html_safe, "http://leaselightning.com", class: "color-accent-primary", :target => "_blank" %></h4>
        
        <h3 class="sm mt-6">Development</h3>
        <h4><%= link_to "<strong>Veronica</strong> is a news chatbot".html_safe, "/portfolio/veronica", class: "color-accent-primary" %></h4>
        <h4><%= link_to "<strong>Pass.js</strong> is a referal tracking library".html_safe, "http://garybunofsky.github.io/pass.js", class: "color-accent-primary", :target => "_blank" %></h4>
      </div>
    </div>
  </div>
</footer>