<footer class="pt72">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
       <hr />
        <p class="sm">&copy; <%= Date.today.year %> <%= link_to "Gary Bunofsky", root_url %> | <%= link_to "Privacy Policy", static_path('privacy-policy') %> | <a href="/Gary-Bunofsky-Resume.pdf" target="_blank">Résumé</a> | <%= link_to "Style Guide", static_path('style-guide') %></p>
      </div>
    </div>
  </div>
</footer>
