<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//garybunofsky.us11.list-manage.com/subscribe/post?u=deb5a86031cefe2be60767bf5&amp;id=84b423ba68" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll" class="row">
      <div class="col-md-12 col-lg-8">
        <input type="email" value="" name="EMAIL" class="form-control " id="mce-EMAIL" placeholder="Your Email Address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_deb5a86031cefe2be60767bf5_84b423ba68" tabindex="-1" value=""></div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
