<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top" id="navigation">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>
      <h1 class="brand"><%= link_to root_url do %>Gary Bunofsky<% end %></h1>
      <div class="collapse text-lg-right navbar-collapse" id="navbarText">
        <ul class="navbar-nav text-lg-right">
          <li class="nav-item text-lg-right">
            <%= link_to "About", static_path(:about), :class => (current_page?(static_path(:about)) ? "active" : "") %>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <%= link_to "Blog", static_path(:blog), :class => (current_page?(static_path(:blog)) ? "active" : "") %>
          </li>
          <li class="nav-item">
            <%= link_to "Portfolio", static_path(:portfolio), :class => (current_page?(static_path(:portfolio)) ? "active" : "") %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

