a.btn, .btn {
	.font-size(1.6);
	font-family: 'Franklin Gothic URW', sans-serif;
	font-weight: 500;
	color:@brand-primary;
	border:1px solid @brand-primary;
	background-color: none;
	background: none;
	border-radius: 0px;
	padding:12px 12px 8px 12px;
	.ease;
	&:hover {
		color: @neutral;
		background-color: @brand-primary;
		border:1px solid @brand-primary;
		cursor:pointer;
	}
}